<div class="big-container">


  <h3 class="title">Mon Profile</h3>
  <mat-tab-group mat-stretch-tabs>


    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_circle</mat-icon>
        Mon compte
      </ng-template>
      <div class="wrapper">

        <div>
          <mat-card-title>Infos</mat-card-title>
          <mat-card class="user card avatar">
            <mat-card-header class="user_header" *ngIf="curentUser">
              <mat-card-title>{{user.title|uppercase}}</mat-card-title>
              <mat-card-subtitle>{{user.firstName}} {{user.lastName}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="content">
              <p>
                E-mail: {{user.email}}
              </p>
              <p>
                Rôle: {{user.role}}
              </p>
            </mat-card-content>
            <mat-card-subtitle>Profil crée le : {{user.createdAt|date:"dd/mm/yy HH:MM"}}</mat-card-subtitle>
          </mat-card>
        </div>


        <div>
          <mat-card-title>Avatar</mat-card-title>
          <mat-card class="avatar card">
            <img class="images" src="./assets/avatar96px/{{user.avatarUrl}}" alt="Photo of a user">
            <button class="btn" mat-stroked-button [routerLink]="['/users', user.id]">
              <mat-icon>create</mat-icon>
              MODIFIER
            </button>
          </mat-card>
        </div>


        <!--      <div>-->
        <!--        <mat-card-title>Actions</mat-card-title>-->

        <!--        <mat-card class="user">-->
        <!--          <mat-card-actions>-->
        <!--            <button class="btn" mat-stroked-button [routerLink]="['/users', user.id]">-->
        <!--              <mat-icon>create</mat-icon>-->
        <!--              MODIFIER-->
        <!--            </button>-->
        <!--          </mat-card-actions>-->
        <!--        </mat-card>-->
        <!--      </div>-->
      </div>


    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">inventory</mat-icon>
        Mes Devis
      </ng-template>
      <div *ngIf="this.devis">
        <h1>Liste des devis</h1>
        <mat-card class="devis" *ngFor="let userDevis of this.devis">
          <div>
            <h1 style="width: 20%">{{userDevis.id|number}} </h1>
          </div>
          <mat-card-header class="devis_header">
            <mat-card-title>{{userDevis.name|uppercase}}</mat-card-title>
            <mat-card-subtitle> {{userDevis.status}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content style="width: 50%">
            <p class="devis-row">Intitulé:  {{userDevis.name|uppercase}}</p>
            <p class="devis-row">Le: {{userDevis.createdAt |date}}</p>
            <!--          <p class="devis-row">Le: {{userDevis.Client.firstName |date}}</p>-->
          </mat-card-content>
          <mat-icon [matMenuTriggerFor]="bouton" class="icon">more_vert</mat-icon>
          <mat-menu class="menuBoutonSl" #bouton>

            <button mat-button color="accent" [routerLink]="['/devisCreate', userDevis.id]">
              Modifier ce devis
            </button>
            <br>
            <button mat-button color="primary" [routerLink]="['/devisDetail', userDevis.id]">
              Voir ce devis
            </button>
            <br>


          </mat-menu>

        </mat-card>
      </div>


    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">description</mat-icon>
        Mes commentaires
      </ng-template>


      <div *ngIf="this.notes">
        <h1>Liste de mes commentaires</h1>
        <mat-card class="devis" *ngFor="let note of this.notes;" [style.background-color]="getColor(note)">
          <div>
            <h1 style="width: 20%">{{note.id|number}} </h1>
          </div>

          <mat-card-header class="devis_header" style="width: 50%">
            <mat-card-title>{{note.title|uppercase}}</mat-card-title>
            <mat-card-subtitle> {{note.typeError}} {{note?.optionsTypeError}}</mat-card-subtitle>
            <mat-card-subtitle>Le: {{note.createdAt |date}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content style="width: 50%">
            <p class="devis-row">Sujet:  {{note.text|uppercase}}</p>
            <mat-card-subtitle style="color: blue" *ngIf="note.resolution">Problème résolu! <br> Vous pouvez supprimer
            </mat-card-subtitle>
          </mat-card-content>
          <mat-icon class="icon" style="color: blue" *ngIf="note.resolution" (click)="deleteItem(note.id)">delete
          </mat-icon>
          <mat-icon class="icon" style="color: blue" *ngIf="note.typeError==='Je souhaite créer une note !'"
                    (click)="deleteItem(note.id)">delete
          </mat-icon>

        </mat-card>


      </div>


      <mat-card class="post-it">
        <mat-card-content *ngFor="let note of this.notes;let i = index">
          <!-- Your content goes here -->
          <ul *ngIf="note.typeError === 'Je souhaite créer une note !'&& i<7">
            <li>

              {{note.title|uppercase}} {{note.text|uppercase}}
            </li>

          </ul>
        </mat-card-content>
      </mat-card>


    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">apartment</mat-icon>
        Mon entreprise
      </ng-template>
      <div *ngFor="let entreprise of userEntreprise">
        <h1></h1>
        <mat-card class="entreprise">
          <img style="    width: 300px;
    height: 170px;" mat-card-md-image src="./assets/images/GrazianiGTP.jpg"
               alt="Photo of a company">
          <div>

            <mat-card-title>{{entreprise.denomination|uppercase}}</mat-card-title>
            <mat-card-subtitle>{{entreprise.formeJuridique}}</mat-card-subtitle>
          </div>


          <div>
            <mat-card-title>Infos</mat-card-title>
            <p>
              Capital: {{entreprise.capital}}
            </p>
            <p>
              Naf Code: {{entreprise.nafCode}}
            </p>
            <p>
              Rcs: {{entreprise.rcs}}
            </p>
            <p>
              Siret: {{entreprise.siret}}
            </p>
            <p>
              Tva: {{entreprise.tvaNumber}}
            </p>
          </div>


          <div>
            <mat-card-title>Adresse</mat-card-title>
            <p>
              Adresse: {{entreprise.Adresse.adresses|uppercase}}
            </p>
            <p>
              Code postal: {{entreprise.Adresse.zipcode}}
            </p>
            <p>
              Ville: {{entreprise.Adresse.city|uppercase}}
            </p>
            <p>
              Pays: {{entreprise.Adresse.country|uppercase}}
            </p>
          </div>

          <div>
            <mat-card-title>Contact</mat-card-title>
            <p>
              E-mail: {{entreprise.email}}
            </p>
            <p>
              Téléphone: {{entreprise.phoneNumber}}
            </p>
          </div>


        </mat-card>
      </div>
    </mat-tab>


  </mat-tab-group>


</div>

