.big-container {
  background-color: #F0F4F8;
  //width: 100vw;
  height: 100vh;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #FFFFFF;;
  color: #334E68;
  font-size: 1.2rem;
  font-weight: 500;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  :first-child {
    margin-left: 5%;
  }

  :last-child {
    margin-right: 5.5%;
  }
}
.mat-header-cell {
  font-size: 0.9rem;
}

th, td {
  color: #334E68;
  padding-right: 0px;
}
tr:first-child{

}
.mat-row:hover{
    background-color: #EEF9FF;
    cursor: pointer;
}
//tr:hover {
//  :not(:first-child){
//
//  background-color: #EEF9FF;
//  }
//}

button {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

table {
  width: 90%;
  margin-top: 30px;

}


