<div class="big-container">


<div class="container-header">
  <h3 class="title"> Blibliothèque d'ouvrages</h3>
  <button mat-flat-button class="btn">
    <mat-icon [routerLink]="'/'">arrow_back</mat-icon>
  </button>
  <div class="header">
    <mat-form-field>
      <mat-label>Recherche d'un ouvrage</mat-label>
      <div>

      </div>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. bet..." #input>
    </mat-form-field>
    <div>
      <button (click)="openDialogCreate(null)" mat-raised-button color="primary">Ajouter un ouvrage</button>
      <!--      <button routerLink="/cout" mat-raised-button color="primary">Ajouter un composant</button>-->
    </div>
  </div>
</div>

<div class="container">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef> Désignation</th>
      <td routerLink="/ouvrageDetail/{{ouvrage.id}}" mat-cell *matCellDef="let ouvrage"> {{ouvrage.designation}} </td>
      <!--    <td mat-cell *matCellDef="let ouvrage"> {{ouvrage.cout[0].prixUnitaire}} </td>-->
    </ng-container>
    <ng-container matColumnDef="benefice">
      <th mat-header-cell *matHeaderCellDef> Bénéfice</th>
      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.benefice}} </td>
    </ng-container>
    <ng-container matColumnDef="aleas">
      <th mat-header-cell *matHeaderCellDef> Aléas</th>
      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.aleas}} </td>
    </ng-container>
    <ng-container matColumnDef="unite">
      <th mat-header-cell *matHeaderCellDef> Unité</th>
      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.unite}} </td>
    </ng-container>
    <ng-container matColumnDef="ratio">
      <th mat-header-cell *matHeaderCellDef> Ratio</th>
      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.ratio}} </td>
    </ng-container>
    <ng-container matColumnDef="uRatio">
      <th mat-header-cell *matHeaderCellDef> U/Ratio</th>
      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.uRatio}} </td>
    </ng-container>
    <!--  <ng-container matColumnDef="fournisseur">-->
    <!--    <th mat-header-cell *matHeaderCellDef> PU HT </th>-->
    <!--    <td mat-cell *matCellDef="let ouvrage"> {{ouvrage.type}} </td>-->
    <!--  </ng-container>-->
    <ng-container matColumnDef="prixUnitaire">
      <th mat-header-cell *matHeaderCellDef> PU HT</th>
      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}"
          *matCellDef="let ouvrage">{{ouvrage.prix}}</td>
    </ng-container>

    <ng-container matColumnDef="boutons">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let ouvrage">

        <mat-icon [matMenuTriggerFor]="boutonOuvrage">more_vert</mat-icon>
        <mat-menu class="menuBoutonCout" #boutonOuvrage >
          <button (click)="deleteItem(ouvrage.id)"  mat-button color="warn" >
            <mat-icon >clear</mat-icon>
            Supprimer
          </button>
        </mat-menu>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>
</div>


