
<h1 mat-dialog-title align="center">Création d'un nouveau client</h1>
<div class="form-container">
  <div mat-dialog-content >

    <form [formGroup]="clientForm">
      <mat-form-field appearance="standard">
        <mat-label>Nom</mat-label>
        <input formControlName="firstName" matInput placeholder="Entrer le nom">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Prénom</mat-label>
        <input formControlName="lastName" matInput placeholder="Entrer le prénom">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Adresse</mat-label>
        <input formControlName="adresses" matInput placeholder="Entrer l'adresse">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Code postal</mat-label>
        <input formControlName="zipcode" matInput placeholder="Entrer le code postal">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Ville</mat-label>
        <input formControlName="city" matInput placeholder="Entrer la ville">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Pays</mat-label>
        <input formControlName="country" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label >Phone  </mat-label>
        <input formControlName="phonenumber" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </form>

  </div>
  <a   (click)="createUser()" class="form-element" mat-raised-button >Valider</a>
</div>
