.form{
  display: flex;
  flex-direction: column;
  align-items:stretch ;
}
.btn{
  margin-top: 35px;
}
.introP{
  font-family: Michroma;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 46px;

}
.divIntro1{
  position: absolute;
  top: 150px;
  height: 450px;
  width: 450px;
  background: aliceblue;
  left: 70%;
  display: flex;
  padding: 20px;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  animation: myScale 2s infinite;
  color: rgb(8, 31, 44);

}
.logotype {
  display: flex;
  flex-direction: column;
  line-height: 6px;
  justify-content: space-between;
  /* padding: 32px; */
  align-items: flex-start;
  flex-wrap: nowrap;
  font-family: 'Michroma';
  font-weight: 400;


  color: rgb(8, 31, 44);
}

::ng-deep .cdk-overlay-container {
  background-color: rgba(0,0,0,0.7) !important;
  backdrop-filter: blur(5px);


}

// css example
span {
  //content: "←";
  width: 50px;
  height: 50px;
  position: relative;
  color: red;
  right: 413px;
  bottom: 161px;
  font-size: 180px;
}

@keyframes myScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
