<form [formGroup]="userForm"  (ngSubmit)="onSubmit()">
  <div class="form">
    <div *ngIf="currentUser.firstConnexion" class="divIntro1">

      <img mat-card-sm-image src="assets/images/Sans%20titre%202.jpg" alt=""
          >
      <div class="logotype ">
        <p class="logotype_nom">GRAZIANI</p>
        <p class="logotype_titre">Outils d'étude de prix</p>
      </div>
      <div class="introP ">

        <p class="">Bienvenue {{currentUser.lastName}} !</p>
        <p class="">Pour garantir la sécurité de votre compte, il est nécessaire de modifier votre mot de passe lors de votre première connexion.<br> Nous vous remercions pour votre compréhension.</p>
      </div>
      <span>&#8592;</span>

    </div>

    <mat-form-field class="input-group">
      <mat-label class="mat-label">Ancien mot de passe</mat-label>
      <input type="password" matInput formControlName="oldPassword">
      <mat-error *ngIf="userForm.get('oldPassword')?.hasError('required')">
        Vous devez entrer votre ancien mot de passe.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-group">
      <mat-label class="mat-label">Nouveau mot de passe</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="userForm.get('password')?.hasError('required')">
        Vous devez entrer un nouveau mot de passe.
      </mat-error>
      <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">
        Votre mot de passe doit comporter au moins 8 caractères.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-group">
      <mat-label class="mat-label">Confirmer le nouveau mot de passe</mat-label>
      <input type="password" matInput formControlName="confirmNewPassword">
      <mat-error *ngIf="userForm.get('confirmNewPassword')?.hasError('required')">
        Vous devez confirmer votre nouveau mot de passe.
      </mat-error>
      <mat-error *ngIf="userForm.get('confirmNewPassword')?.hasError('minlength')">
        Votre mot de passe doit comporter au moins 8 caractères.
      </mat-error>
    </mat-form-field>



    <button mat-raised-button class="btn" color="primary" type="submit" >Valider</button>
  </div>

</form>
