
<ng-container [formGroup]="this.myFormGroup">
  <button routerLink="/listTypeCout" mat-raised-button color="accent">Retour</button>
  <div class="container">
    <h1> {{titreForm}}</h1>
    <div class="group1">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Type</mat-label>
          <input formControlName="type" matInput placeholder="Ex: Fourniture">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Catégorie</mat-label>
          <input formControlName="categorie" matInput placeholder="Ex: Transport">
        </mat-form-field>
      </p>
    </div>


    <button   mat-raised-button (click)="createAndUpdate()" >{{textButton}}</button>
  </div>
</ng-container>

