.header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background: linear-gradient(315deg, #173453, #1c3e62);
  //box-shadow: -13px -13px 26px #0a1725,
  //13px 13px 26px #2a5d93;
}

.mat-flat-button {
  background: linear-gradient(315deg, #173453, #1c3e62);
  box-shadow: -13px -13px 26px #0a1725,
  13px 13px 26px #2a5d93;
  color: #ffc107;
  border: 1px solid #ffc107;

}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;


}

.element {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;


}

.mat-label {
  color: white;
}

.button-droite {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: solid 2px rgba(47, 65, 144, 0.85);
  justify-content: space-around;
  align-items: stretch;
  border-radius: 76px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 10px;
  //background: rgba(47, 65, 144, 0.18);
  color: white;
  background: linear-gradient(315deg, #173453, #1c3e62);
  box-shadow: -13px -13px 26px #0a1725,
  13px 13px 26px #2a5d93;
  backdrop-filter: blur(1.3px);

  //border: 1px solid rgba(47, 65, 144, 0.85);


}

.button {
  display: flex;
  flex-direction: column;
  padding: 20px;
  //border: solid 2px rgba(47, 65, 144, 0.85);
  justify-content: space-around;
  align-items: stretch;
  border-radius: 76px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 10px;
  //background: rgba(47, 65, 144, 0.18);
  width: 30%;
  //background: linear-gradient(315deg, #173453, #1c3e62);
  //box-shadow: -13px -13px 26px #0a1725,
  //13px 13px 26px #2a5d93;
  //backdrop-filter: blur(1.3px);

  //border: 1px solid rgba(47, 65, 144, 0.85);


}

.wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  /* width: 70%; */
  align-items: center;
  justify-content: space-evenly;
  //background: linear-gradient(315deg, #173453, #1c3e62);
  //box-shadow: -13px -13px 26px #0a1725,
  //13px 13px 26px #2a5d93;


}


.image {
  width: 115px;
  height: 115px;
  border-radius: 68px;
}

.header-card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
  align-items: stretch;
}

.mat-form-field {
  margin: 10px;
}

.titre {
  //border: solid 2px rgba(47, 65, 144, 0.85);
  border-radius: 76px;
  border-bottom-left-radius: 11px;
  border-top-right-radius: 10px;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 140px;
  //background: rgba(47, 65, 144, 0.18);
  //background: linear-gradient(315deg, #173453, #1c3e62);
  //box-shadow: -13px -13px 26px #0a1725,
  //13px 13px 26px #2a5d93;

  //border: 1px solid rgba(47, 65, 144, 0.85);

}

.mat-form-field {
  text-align: center;
}

.mat-label {
  color: red;
}

.mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-card {
  border-radius: 76px;
  color: white;
  height: 500px;
  //background: rgba(71, 96, 203, 0.09);
  background: linear-gradient(315deg, #173453, #1c3e62);
  box-shadow: -13px -13px 26px #0a1725,
  13px 13px 26px #2a5d93;
  backdrop-filter: blur(4px);
  //border: 1px solid rgba(47, 65, 144, 0.85);
  margin-right: 20px;


}

.elementGauche {
  border-radius: 76px;
  border-bottom-left-radius: 11px;
  border-top-right-radius: 10px;
  //background: linear-gradient(315deg, #173453, #1c3e62);
  //box-shadow: -13px -13px 26px #0a1725,
  //13px 13px 26px #2a5d93;
  margin-right: 20px;

}

.elementDroit {
  border-radius: 76px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 10px;
  //background: linear-gradient(315deg, #173453, #1c3e62);
  //box-shadow: -13px -13px 26px #0a1725,
  //13px 13px 26px #2a5d93;

}
