<button mat-flat-button>
  <mat-icon [routerLink]="'/parametre/'">arrow_back</mat-icon>
</button>
<div class="container">
  <button class="btn" color="primary" mat-stroked-button [routerLink]="'/entreprises/new'">Ajouter une entreprise
  </button>


  <div class="container">
    <div class="form-group" *ngFor="let entreprise of listEntreprise">
      <div class="row">
        <span class="texte">{{entreprise.formeJuridique}}</span>
        <span class="texte ">{{entreprise.commercialName}}</span>
        <span class="texte">{{entreprise.denomination}}</span>
      </div>
      <div class="row">
        <p class="texte">{{entreprise.siret}}</p>
        <p class="texte">{{entreprise.nafCode}}</p>
        <p class="texte">{{entreprise.rcs}}</p>
        <p class="texte">{{entreprise.tvaNumber}}</p>
      </div>
      <div class="row">
        <p class="texte">{{entreprise.adresses}}</p>
        <p class="texte">{{entreprise.city}}</p>

      </div>
      <div class="row">

        <p class="texte">{{entreprise.zipcode}}</p>
        <p class="texte">{{entreprise.country}}</p>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <button mat-stroked-button [routerLink]="['/entreprises', entreprise.id]">
        <mat-icon>delete_forever</mat-icon>
        <span>MODIFIER</span></button>
      <button mat-stroked-button color="warn" (click)="delete(entreprise.id)">
        <mat-icon>delete_forever</mat-icon>
        <span>EFFACER</span></button>
    </div>
  </div>
</div>
