//.mat-form-field {
//  padding: 10px;
//  text-align: center;
//
//
//}
//
//mat-label {
//  color: #000000;
//}
//
//.form-group {
//  color: #000000;
//  text-align: center;
//
//  //background-color: rgba(35, 34, 33, 0.28);
//  //height: 500px;
//  //width: 700px;
//  margin: auto;
//  padding: 3rem;
//  margin-top: 50px;
//  text-align: center;
//  color: #000;
//
//
//}
//
//.form {
//  margin-top: 60px;
//}
.container {
  display: flex;

  flex-direction: column;
  color: #334E68;
  //margin-top: 3%;
  overflow: hidden;

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  p {
    margin-top: 2%;
    font-size: 1rem;


  }

}
#input-denomination{
  width: 300px;
}
#input-categorie{
  width: 100px;
}
#input-adresse{
width: 40%;
}

.inputs {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
}
.input{
  display: flex;
  flex-direction: column;

}
.buttons{
  display: flex;
  justify-content: space-between;
  margin-top:3%;
}


