
<div class="container">
  <div class="flex-row">
    <div class="subContainer">
      <h1>Ajout d'un ou plusieurs ouvrage dans votre devis</h1>
      <p>Veuillez sélectionner un ou plusieurs ouvrages à associer a votre sous-lot.</p>
      <mat-form-field  appearance="legacy">
        <mat-label>Rechercher un ouvrage</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Béton de propreté">
      </mat-form-field>
    </div>
    <div class="divButton">
      <button class="btnBack" (click)="closeDialog()" mat-raised-button  color="primary" >Retour</button>
      <button  class='button' (click)="closeDialog()" mat-raised-button color="primary" >Importer ces ouvrages </button>
<!--          <button  class='button' (click)="addCoutOuvrageDuDevis();closeDialog()" mat-raised-button color="primary" [disabled]="selectedCoutIds.length === 0 ? true : false" [innerHTML]="selectedCoutIds.length > 1 ? 'Importer ces composants' : 'Importer ce composant'">Importer ce composant </button>-->
<!--          <button  class='button' routerLink="/ouvrageDetail/{{ouvrageId}}" (click)="addCoutOuvrage()" mat-raised-button color="primary">Valider </button>-->


    </div>

  </div>

  <div class="table-ouvrage">

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">

  <!--  </ng-container>-->
  <ng-container matColumnDef="checkBox">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [id]="element.id" (change)="onSelectionChange(element.id, $event.checked)"
                    class="example-margin"> {{element.id}}</mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="designation">
    <th mat-header-cell *matHeaderCellDef> Désignation</th>
    <td mat-cell *matCellDef="let element"
        (click)="expandedElement = expandedElement === element ? null : element"> {{element.designation}} </td>
  </ng-container>

  <ng-container matColumnDef="benefice">
    <th mat-header-cell *matHeaderCellDef> Bénéfice</th>
    <td mat-cell *matCellDef="let element"> {{element.benefice}} </td>
  </ng-container>
  <ng-container matColumnDef="aleas">
    <th mat-header-cell *matHeaderCellDef> Aléas</th>
    <td mat-cell *matCellDef="let element"> {{element.benefice}} </td>
  </ng-container>
  <ng-container matColumnDef="unite">
    <th mat-header-cell *matHeaderCellDef> Unité</th>
    <td mat-cell *matCellDef="let element"> {{element.unite}} </td>
  </ng-container>
  <ng-container matColumnDef="ratio">
    <th mat-header-cell *matHeaderCellDef> Ratio</th>
    <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
  </ng-container>
  <ng-container matColumnDef="uRatio">
    <th mat-header-cell *matHeaderCellDef> U/Ratio</th>
    <td mat-cell *matCellDef="let element"> {{element.uRatio}} </td>
  </ng-container>
  <ng-container matColumnDef="prixUnitaire">
    <th mat-header-cell *matHeaderCellDef> Prix</th>
    <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
    <!--    <td mat-cell *matCellDef="let element">-->
    <!--    {{ element.Couts ? element.SousLotOuvrage.prixOuvrage : element.prix }}-->
    <!--    </td>-->
  </ng-container>


  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="header-cout">
          <p class="title-header-cout">
            {{ element.Couts.length >= 1 ? "Composant de l'ouvrage" : "Aucun composant dans cet ouvrage" }}
          </p>
        </div>
        <div class="cout-designation" *ngFor="let cout of element.Couts; let isFirst = first">
          <div class="cout-detail">
              <p class="cout-detail-header" *ngIf="isFirst"> Désignation</p>
              {{cout.designation}}
          </div>
          <div class="cout-detail" >
              <p class="cout-detail-header" *ngIf="isFirst"> Unité</p>
              {{cout.unite}}
          </div>
          <div class="cout-detail">
              <p class="cout-detail-header" *ngIf="isFirst"> Prix unitaire</p>
              {{cout.prixUnitaire}}
            </div >
          <div class="cout-detail">
              <p class="cout-detail-header" *ngIf="isFirst"> Type</p>
              {{cout.TypeCout.type}}
          </div>
          <div class="cout-detail">
              <p class="cout-detail-header" *ngIf="isFirst"> Catégorie</p>
              {{cout.TypeCout.categorie}}
          </div>
          <div class="cout-detail">
              <p class="cout-detail-header" *ngIf="isFirst"> Fournisseur</p>
              {{cout.Fournisseur.commercialName}}
          </div>
        </div>
        <!--        <div class="example-element-description">-->
        <!--          {{element.designation}}-->
        <!--          <span class="example-element-description-attribution"> -- Wikipedia </span>-->
        <!--        </div>-->
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
  </div>

</div>

