<button (click)="html()">Creer un LOT</button>
<div *ngIf="test">
  <div class="group3">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Remarque</mat-label>
        <input formControlName="remarque" matInput placeholder="Ex: ">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Fournisseur</mat-label>
        <input formControlName="fournisseur" matInput placeholder="Ex: Gedimat">
      </mat-form-field>
    </p>
<button>VALIDER</button>
  </div>
</div>
<ng-template #aze>
  <p>sqdqsDq</p>
</ng-template>
