<div class="big-container">


  <div class="container-header">
    <h3 class="title"> Détail du devis</h3>
    <!--    <button mat-flat-button class="btn">-->
    <!--      <mat-icon [routerLink]="'/'">arrow_back</mat-icon>-->
    <!--    </button>-->
  </div>


  <div class="container" *ngIf="devis">
    <mat-card class="example-card">
      <mat-card-title-group class="group">
        <div class="bouton">
          <mat-card-title class="title">Details du devis</mat-card-title>
        </div>
        <div class="subContainer">
          <div class="group1">
            <div class="detailList">
              <div class="detail">
                <mat-card-subtitle class="subTitle">N° du devis</mat-card-subtitle>
                <!--              <p *ngFor="let cout of ouvrage.cout">{{cout.type}}</p>-->
                <p>{{devis.id}}</p>
              </div>
            </div>
            <div class="detailList">
              <div class="detail">
                <mat-card-subtitle class="subTitle">Client</mat-card-subtitle>
                <!--              <p *ngFor="let cout of ouvrage.cout">{{cout.type}}</p>-->
                <p>{{client.denomination}}</p>
              </div>
            </div>
          </div>
          <div class="group2">
            <div class="detailList">
              <div class="detail">
                <mat-card-subtitle class="subTitle">Montant HT</mat-card-subtitle>
                <!--              <p *ngFor="let cout of ouvrage.cout">{{cout.type}}</p>-->
                <p>{{devis.prixVenteHT | number: '1.2-2'}} €</p>
              </div>
              <div class="detail">
                <mat-card-subtitle class="subTitle">Réferent</mat-card-subtitle>
                <p>{{user.firstName + ' ' + user.lastName}}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card-title-group>
    </mat-card>


    <mat-card class="example-card">
      <mat-card-title-group class="group">
        <div class="bouton">
          <mat-card-title class="title">Etat du devis</mat-card-title>
        </div>
        <div class="subContainer2">
          <div class="group3">
            <div class="detailList2">

              <div class="detail">
                <mat-card-subtitle class="subTitle">Statut</mat-card-subtitle>
                <mat-form-field appearance="legacy" style="width: 90px">
                  <mat-select [(ngModel)]="selectedStatus"
                              (ngModelChange)="updateStatusDevis()">
                    <mat-option *ngFor="let status of detailStatus" [value]="status">{{status}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="detail" style="color: green">
                <mat-card-subtitle id="devisDebutDate" class="subTitle">Date du devis
                </mat-card-subtitle>
                <p>{{devis.createdAt |date:'dd/MM/yyyy '}}</p>
              </div>

              <div class="detail">
                <mat-card-subtitle class="subTitle">Durée validité</mat-card-subtitle>
                <mat-form-field>
                  <input matInput [(ngModel)]="validityTime"
                         (ngModelChange)="updateValidityDevis()">
                </mat-form-field>
                <mat-card-subtitle>Reste {{this.jourRestant}} jours</mat-card-subtitle>
              </div>
              <div class="detail" style="color: red">
                <mat-card-subtitle class="subTitle">Date fin du devis</mat-card-subtitle>
                <p>{{this.jourFinDevis}}</p>
              </div>

            </div>
          </div>
          <div class="btnUpdate">
            <button mat-raised-button color="primary" (click)="createLOT(devis.id)">Modifier le devis</button>
            <!--          <button mat-raised-button routerLink="/devisCreate/{{devis.id}}">Modifier le devis</button>-->
          </div>
        </div>
      </mat-card-title-group>
    </mat-card>

  </div>
</div>
