  <h1>{{currentOuvrage.designation}}</h1>
  <table *ngIf="currentOuvrage" mat-table [dataSource]="currentOuvrage.CoutDuDevis">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.type}} </td>
<!--      <td routerLink="/ouvrageDetail/{{ouvrage.id}}" mat-cell *matCellDef="let ouvrage"> {{ouvrage.designation}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="categorie">-->
<!--      <th mat-header-cell *matHeaderCellDef> Catégorie</th>-->
<!--      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.type}} </td>-->
<!--&lt;!&ndash;      <td routerLink="/ouvrageDetail/{{ouvrage.id}}" mat-cell *matCellDef="let ouvrage"> {{ouvrage.designation}} </td>&ndash;&gt;-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="designation">-->
<!--      <th mat-header-cell *matHeaderCellDef> Désignation</th>-->
<!--      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.designation}} </td>-->
<!--      &lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.benefice}} </td>&ndash;&gt;-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="unite">-->
<!--      <th mat-header-cell *matHeaderCellDef> U</th>-->
<!--      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.unite}} </td>-->

<!--      &lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.aleas}} </td>&ndash;&gt;-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="uRatio">-->
<!--      <th mat-header-cell *matHeaderCellDef>U/Ratio </th>-->
<!--&lt;!&ndash;      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.uRatio}} </td>&ndash;&gt;-->

<!--      &lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.unite}} </td>&ndash;&gt;-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="ratio">-->
<!--      <th mat-header-cell *matHeaderCellDef> Ratio</th>-->
<!--&lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.ratio}} </td>&ndash;&gt;-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="quantite">-->
<!--      <th mat-header-cell *matHeaderCellDef> Quantité</th>-->
<!--&lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.uRatio}} </td>&ndash;&gt;-->
<!--    </ng-container>-->
<!--    &lt;!&ndash;  <ng-container matColumnDef="fournisseur">&ndash;&gt;-->
<!--    &lt;!&ndash;    <th mat-header-cell *matHeaderCellDef> PU HT </th>&ndash;&gt;-->
<!--    &lt;!&ndash;    <td mat-cell *matCellDef="let ouvrage"> {{ouvrage.type}} </td>&ndash;&gt;-->
<!--    &lt;!&ndash;  </ng-container>&ndash;&gt;-->
<!--    <ng-container matColumnDef="prixUnitaire">-->
<!--      <th mat-header-cell *matHeaderCellDef> PU HT</th>-->
<!--&lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}"&ndash;&gt;-->
<!--&lt;!&ndash;          *matCellDef="let ouvrage;let i = index;">{{prixOuvrage[i]}}</td>&ndash;&gt;-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="DSTotal">-->
<!--      <th mat-header-cell *matHeaderCellDef> DS Total</th>-->
<!--&lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}"&ndash;&gt;-->
<!--&lt;!&ndash;          *matCellDef="let ouvrage;let i = index;">{{prixOuvrage[i]}}</td>&ndash;&gt;-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="PUHTEquilibre">-->
<!--      <th mat-header-cell *matHeaderCellDef> PU HT équilibre</th>-->
<!--&lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}"&ndash;&gt;-->
<!--&lt;!&ndash;          *matCellDef="let ouvrage;let i = index;">{{prixOuvrage[i]}}</td>&ndash;&gt;-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="prixHTEquilibre">-->
<!--      <th mat-header-cell *matHeaderCellDef> Prix HT équilibre</th>-->
<!--&lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}"&ndash;&gt;-->
<!--&lt;!&ndash;          *matCellDef="let ouvrage;let i = index;">{{prixOuvrage[i]}}</td>&ndash;&gt;-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="PUHTCalcule">-->
<!--      <th mat-header-cell *matHeaderCellDef> PU HT calculé</th>-->
<!--&lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}"&ndash;&gt;-->
<!--&lt;!&ndash;          *matCellDef="let ouvrage;let i = index;">{{prixOuvrage[i]}}</td>&ndash;&gt;-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="prixHTCalcule">-->
<!--      <th mat-header-cell *matHeaderCellDef> Prix HT calculé</th>-->
<!--&lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}"&ndash;&gt;-->
<!--&lt;!&ndash;          *matCellDef="let ouvrage;let i = index;">{{prixOuvrage[i]}}</td>&ndash;&gt;-->
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
