  <h1>{{currentOuvrage.designation}}</h1>
<div class="containerCards">


  <mat-card class="cardParams">
    <mat-card-header>
      <mat-card-title>Ratio & quantité</mat-card-title>

      <!--        <mat-card-subtitle>Start</mat-card-subtitle>-->
    </mat-card-header>
    <hr>
    <mat-card-content>
      <div class="containerParams">
        <div class="paramsSub">
            <mat-card-subtitle>Ratio</mat-card-subtitle>
          <div class="itemsParams">
            <p>{{this.currentOuvrage.ratio}}</p>
            <p>{{this.currentOuvrage.uRatio}}</p>
          </div>
            <mat-card-subtitle>Quantité marché</mat-card-subtitle>
          <div class="itemsParams" *ngIf="this.currentOuvrage.SousLots !== undefined">
            <p>{{this.currentOuvrage.SousLotOuvrage?.quantityOuvrage}}</p>
            <p>{{this.currentOuvrage.unite}}</p>
          </div>

        </div>
<!--        <div class="paramsSub">-->
<!--            <mat-card-subtitle>Quantité métré</mat-card-subtitle>-->
<!--          <div class="itemsParams">-->
<!--            <p>A voir</p>-->
<!--            <p>A voir</p>-->
<!--          </div>-->
<!--      </div>-->
      </div>
    </mat-card-content>
  </mat-card>

        <mat-card class="cardParams">
          <mat-card-header>
            <mat-card-title>Bénéfice & Aléas</mat-card-title>

            <!--        <mat-card-subtitle>Start</mat-card-subtitle>-->
          </mat-card-header>
          <hr>
          <mat-card-content>
            <div class="containerParams">
              <div class="paramsSub" *ngIf="this.currentOuvrage.SousLotOuvrage !== undefined">
                <mat-card-subtitle>Bénéfice</mat-card-subtitle>
                <div class="itemsParams" >
                  <p>{{this.currentOuvrage.benefice}} %</p>
                  <p> {{this.currentOuvrage.SousLotOuvrage.beneficeInEuro | number : '1.2-2'}} €</p>
                </div>
                <mat-card-subtitle>Aléas</mat-card-subtitle>
                <div class="itemsParams">
                  <p>{{this.currentOuvrage.aleas}} %</p>
                  <p>{{this.currentOuvrage.SousLotOuvrage.aleasInEuro | number : '1.2-2'}} €</p>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>



  <mat-card class="cardParams">
    <mat-card-header>
      <mat-card-title>Déboursé sec</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <div class="containerParams">
        <div class="paramsSub">
          <mat-card-subtitle>PU DS HT</mat-card-subtitle>
          <div class="itemsParams" *ngIf="this.currentOuvrage.SousLots !== undefined">
<!--            <p>{{this.prixUnitaireHT(this.currentOuvrage.SousLots[0].SousLotOuvrage?.prixOuvrage,this.currentOuvrage.SousLots[0].SousLotOuvrage?.quantityOuvrage)  | number : '1.2-2'}} €</p>-->
            <p>{{this.currentOuvrage.SousLotOuvrage?.prixUniHT | number : '1.2-2'}} € OK</p>
          </div>
          <mat-card-subtitle>Débousé sec HT</mat-card-subtitle>
          <div class="itemsParams" *ngIf="this.currentOuvrage.SousLots !== undefined">
            <p>{{this.currentOuvrage.SousLotOuvrage?.prixOuvrage  | number : '1.2-2'}} €</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="cardParams">
    <mat-card-header>
      <mat-card-title>Prix d'équilibre</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <div class="containerParams" >
        <div class="paramsSub" >
          <mat-card-subtitle>PU HT équilibre</mat-card-subtitle>
          <div class="itemsParams" >
            <p>{{this.currentOuvrage.SousLotOuvrage?.prixUniEquiHT | number : '1.2-2' }}€</p>
          </div>
          <mat-card-subtitle>Prix HT équilibre</mat-card-subtitle>
          <div class="itemsParams" *ngIf="this.currentOuvrage.SousLots !== undefined">
            <p>{{this.currentOuvrage.SousLotOuvrage?.prixEquiHT  | number : '1.2-2'}} test €</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="cardParams">
    <mat-card-header>
      <mat-card-title>Prix Calculé</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <div class="containerParams">
        <div class="paramsSub">
          <mat-card-subtitle>PU HT calculé</mat-card-subtitle>
          <div class="itemsParams" *ngIf="this.currentOuvrage.SousLots !== undefined">
<!--            <p>{{this.prixUnitaireCalculeHT(this.prixCalculeHT(this.currentOuvrage.benefice,this.currentOuvrage.aleas,this.prixEquilibreHT(this.currentOuvrage.SousLots[0].SousLotOuvrage?.prixOuvrage)),this.currentOuvrage.SousLots[0].SousLotOuvrage?.quantityOuvrage)  | number : '1.2-2'}} €</p>-->
            <p>{{this.currentOuvrage.SousLotOuvrage?.prixUniCalcHT}}</p>
          </div>

          <mat-card-subtitle>Prix HT calculé</mat-card-subtitle>
          <div class="itemsParams" *ngIf="this.currentOuvrage.SousLots !== undefined">
            <p>{{this.currentOuvrage.SousLotOuvrage?.prixCalcHT}}</p>
<!--            <p>{{this.prixCalculeHT(this.currentOuvrage.benefice,this.currentOuvrage.aleas,this.prixEquilibreHT(this.currentOuvrage.SousLots[0].SousLotOuvrage?.prixOuvrage)) | number : '1.2-2' }}€</p>-->
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
  <div class="btnSousDetails">
  <button mat-raised-button (click)="openDialogImport(this.currentOuvrage.id)">
    Importer un composant
  </button >

    <button mat-raised-button (click)="openDialogCreate(this.currentOuvrage.id)">
      Creer un composant
    </button >
  </div>


<div *ngIf="this.currentOuvrage.CoutDuDevis">

    <table *ngIf="currentOuvrage " mat-table [dataSource]="currentOuvrage.CoutDuDevis">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.type}} </td>
      <td routerLink="/ouvrageDetail/{{ouvrage.id}}" mat-cell *matCellDef="let ouvrage"> {{ouvrage.designation}} </td>
    </ng-container>
    <ng-container matColumnDef="categorie">
      <th mat-header-cell *matHeaderCellDef> Catégorie</th>
      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.categorie}} </td>
<!--      <td routerLink="/ouvrageDetail/{{ouvrage.id}}" mat-cell *matCellDef="let ouvrage"> {{ouvrage.designation}} </td>-->
    </ng-container>
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef> Désignation</th>
      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.designation}} </td>
      <!--      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.benefice}} </td>-->
    </ng-container>
    <ng-container matColumnDef="unite">
      <th mat-header-cell *matHeaderCellDef> U</th>
      <td mat-cell *matCellDef="let coutDuDevis" > {{coutDuDevis.unite}} </td>

      <!--      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.aleas}} </td>-->
    </ng-container>
      <ng-container matColumnDef="uRatio">
        <th mat-header-cell *matHeaderCellDef> U/Ratio</th>
        <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.OuvrageCoutDuDevis.uRatio}} </td>
        <td routerLink="/ouvrageDetail/{{ouvrage.id}}" mat-cell *matCellDef="let ouvrage"> {{ouvrage.designation}} </td>
      </ng-container>
    <ng-container matColumnDef="ratio">
      <th mat-header-cell *matHeaderCellDef> Ratio</th>
        <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.OuvrageCoutDuDevis.ratio}} </td>
    </ng-container>
    <ng-container matColumnDef="efficience">
      <th mat-header-cell *matHeaderCellDef> Efficience</th>
        <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.OuvrageCoutDuDevis.efficience}} </td>
    </ng-container>
      <ng-container matColumnDef="quantite" *ngIf="this.currentOuvrage.SousLots !== undefined">
        <th mat-header-cell *matHeaderCellDef> Quantité</th>
        <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.quantite}} </td>
      </ng-container>
    <ng-container matColumnDef="prixUnitaireHT">
      <th mat-header-cell *matHeaderCellDef> PU HT</th>
      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.prixUnitaire}} € </td>
    </ng-container>
    <ng-container matColumnDef="DSTotal" *ngIf="this.currentOuvrage.SousLots !== undefined">
      <th mat-header-cell *matHeaderCellDef> DS Total</th>
      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.debourseSecTotal | number : '1.2-2'}} €</td>
    </ng-container>
      <ng-container matColumnDef="PUHTEquilibre" *ngIf="this.currentOuvrage.SousLots !== undefined">
      <th mat-header-cell *matHeaderCellDef> PU HT équilibre</th>
      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.prixUnitaireEquiHT | number : '1.2-2'}} € </td>
    </ng-container>
      <ng-container matColumnDef="prixHTEquilibre" *ngIf="this.currentOuvrage.SousLots !== undefined">
      <th mat-header-cell *matHeaderCellDef> Prix HT équilibre</th>
      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.prixEquiHT | number : '1.2-2' }} € </td>
    </ng-container>
    <ng-container matColumnDef="PUHTCalcule" *ngIf="this.currentOuvrage.SousLots !== undefined">
      <th mat-header-cell *matHeaderCellDef>PU HT calculé</th>
      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.prixUnitaireCalcHT | number : '1.2-2'}} € </td>
    </ng-container>
      <ng-container matColumnDef="prixHTCalcule" *ngIf="this.currentOuvrage.SousLots !== undefined">
      <th mat-header-cell *matHeaderCellDef >Prix HT calculé</th>
      <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.prixCalcHT | number : '1.2-2'}} €</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay" style="background-color: #2a5d93"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>
