.cardParams{
  width: 16.67%;
  //height: 7%;
  padding: 6px;
}
h1{
  text-align: center;
}

.containerParams{
  display: flex;
  flex-direction: column;
}
.paramsSub{
  display: flex;
  flex-direction: column;
}
.mat-card-subtitle{
  margin: 0px;
}
.itemsParams{
  display: flex;
  justify-content: space-around;
}
.containerCards{
  display:flex;
  justify-content: space-around;
}
table {
  width: 98%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.btnSousDetails{
  display: flex;
  justify-content: flex-start;
}
