<div class="header">
  <button mat-flat-button class="btn">
    <mat-icon [routerLink]="'/'">arrow_back</mat-icon>
  </button>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Rechercher un devis</mat-label>
      <input matInput placeholder="Ex: Dupond">
    </mat-form-field>
  </div>
  <div>
    <button class="btn" routerLink="/clients/new'" mat-raised-button>Créer un devis</button>
  </div>
</div>

<div class="container">
  <ng-container [formGroup]="this.myFormGroup">
    <h1> DEVIS </h1>
    <mat-form-field appearance="legacy">
      <mat-label>name</mat-label>
      <input formControlName="name" matInput placeholder="Ex: Devis toiture">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Status</mat-label>
      <input formControlName="status" matInput placeholder="Ex: En cours">
    </mat-form-field>
    <button (click)="testAjoutDevis()" routerLink="/devisTest" mat-raised-button>Créer un devis</button>
  </ng-container>
</div>

