<div class="header">
  <button mat-flat-button class="btn">
    <mat-icon [routerLink]="'/'">arrow_back</mat-icon>
  </button>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Rechercher un client</mat-label>
      <input matInput placeholder="Ex: Dupond">
    </mat-form-field>
  </div>
  <div>
    <button class="btn" routerLink="/clients/new'" mat-raised-button>Créer un client</button>
  </div>
</div>


<div class="container">

  <table mat-table [dataSource]="listClient">
    <!-- Position Column -->
    <!--    <ng-container matColumnDef="id">-->
    <!--      <th mat-header-cell *matHeaderCellDef> Id</th>-->
    <!--      <td mat-cell *matCellDef="let client">{{client.id}}</td>-->
    <!--    </ng-container>-->

    <!-- Name Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let client">{{client.lastName}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Prénom</th>
      <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef> Adresse</th>
      <td mat-cell *matCellDef="let element">{{element.adresses}}</td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> Ville</th>
      <td mat-cell *matCellDef="let element">{{element.city}}</td>
    </ng-container>
    <!--    <ng-container matColumnDef="zipcode">-->
    <!--      <th mat-header-cell *matHeaderCellDef> Code postal</th>-->
    <!--      <td mat-cell *matCellDef="let element">{{element.zipcode}}</td>-->
    <!--    </ng-container>-->
    <!--    <ng-container matColumnDef="country">-->
    <!--      <th mat-header-cell *matHeaderCellDef> Pays</th>-->
    <!--      <td mat-cell *matCellDef="let element">{{element.country}}</td>-->
    <!--    </ng-container>-->
    <!--    <ng-container matColumnDef="phonenumber">-->
    <!--      <th mat-header-cell *matHeaderCellDef> Telephone</th>-->
    <!--      <td mat-cell *matCellDef="let element">{{element.phonenumber}}</td>-->
    <!--    </ng-container>-->
    <!--    <ng-container matColumnDef="email">-->
    <!--      <th mat-header-cell *matHeaderCellDef> Email</th>-->
    <!--      <td mat-cell *matCellDef="let element">{{element.email}}</td>-->
    <!--    </ng-container>-->

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let client ">
        <button class="button" mat-stroked-button [routerLink]="['/clients', client.id]">
          <mat-icon>create</mat-icon>
        </button>
        <button class="button" mat-stroked-button color="warn" (click)="delete(client.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>

  <ul>Selection :
    <li *ngFor="let clickedRow of clickedRows">
      {{clickedRow.lastName}} {{clickedRow.firstName}}
    </li>
  </ul>

</div>
