<ng-container *ngIf="this.isCout" [formGroup]="this.myFormGroup">
  <button routerLink="/listCout" mat-raised-button color="accent">Retour</button>
  <div class="container">
    <h1> {{titreForm}}</h1>
    <div class="group1">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Désignation</mat-label>
          <input formControlName="designation" matInput placeholder="Ex: Agglo de 10cm">
        </mat-form-field>
      </p>
    </div>
    <div class="group2">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Unité</mat-label>
          <input formControlName="unite" matInput placeholder="Ex: M2">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Prix Unitaire</mat-label>
          <input formControlName="prixUnitaire" matInput placeholder="Ex: 9,2">
        </mat-form-field>
      </p>
    </div>

    <div class="group3">
      <mat-form-field appearance="fill">
        <mat-label>Type et catégorie du cout</mat-label>
        <mat-select formControlName="TypeCoutId">
          <mat-option *ngFor="let item of typeCout" [value]="item.id">
            {{item.type}} {{item.categorie}} {{item.id}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fournisseur</mat-label>
        <mat-select formControlName="FournisseurId">
          <!--        <mat-select formControlName="Fournisseurs">-->
          <mat-option *ngFor="let item of fournisseur" [value]="item.id">
            {{item.commercialName}} {{item.id}}
          </mat-option>
        </mat-select>
      </mat-form-field>


    </div>
    <button mat-raised-button (click)="createAndUpdateCout()">{{textButton}}</button>
  </div>

</ng-container>

<ng-container *ngIf="isFournisseur" [formGroup]="this.myFormGroup">
  <button routerLink="/listFournisseur" mat-raised-button color="accent">Retour</button>
  <div class="container">
    <h1> {{titreForm}}</h1>
    <div class="group1">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Nom commercial</mat-label>
          <input formControlName="commercialName" matInput placeholder="Ex: GEDIMAT">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Remarque</mat-label>
          <input formControlName="remarque" matInput placeholder="Ex: Augmentation en Janvier">
        </mat-form-field>
      </p>
    </div>


    <button mat-raised-button (click)="createAndUpdateFournisseur()">{{textButton}}</button>
  </div>
</ng-container>


<ng-container *ngIf="isTypeCout" [formGroup]="this.myFormGroup">
  <button routerLink="/listTypeCout" mat-raised-button color="accent">Retour</button>
  <div class="container">
    <h1> {{titreForm}}</h1>
    <div class="group1">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Type</mat-label>
          <input formControlName="type" matInput placeholder="Ex: Fourniture">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Catégorie</mat-label>
          <input formControlName="categorie" matInput placeholder="Ex: Transport">
        </mat-form-field>
      </p>
    </div>


    <button mat-raised-button (click)="createAndUpdateTypeCout()">{{textButton}}</button>
  </div>
</ng-container>

<ng-container class="container" *ngIf="isOuvrage" [formGroup]="this.myFormGroup">
  <button routerLink="/listOuvrage" mat-raised-button color="accent">Retour</button>
  <div class="ouvrage">
    <h1> {{titreForm}}</h1>
    <div class="group1">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Désignation</mat-label>
          <input formControlName="designation" matInput placeholder="Ex: Béton de propreté">

        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ratio</mat-label>
          <input formControlName="ratio" matInput placeholder="Ex: 0.9">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Aléas</mat-label>
          <input formControlName="aleas" matInput placeholder="Ex: 10">
          <span matSuffix>%</span>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Unité</mat-label>
          <select formControlName="unite" matNativeControl required>
            <option value="m">Mètres</option>
            <option value="m²">Mètres carrés</option>
            <option value="m³">Mètres cubes</option>
            <option value="Kg">Kilogrammes</option>
          </select>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>U/Ratio</mat-label>
          <input type="text" formControlName="uRatio" matInput placeholder="Ex: "
                 value="{{myFormGroup.controls['unite'].getRawValue()}} / h">
          <!--          <span matSuffix>/h</span>-->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Bénéfice</mat-label>
          <input formControlName="benefice" matInput placeholder="Ex: 10">
          <span matSuffix>%</span>
        </mat-form-field>
      </div>


      <!--      <p>-->
      <!--        <mat-form-field appearance="legacy">-->
      <!--          <mat-label>Ratio</mat-label>-->
      <!--          <input formControlName="prixUnitaire" matInput placeholder="Ex: 0.80">-->
      <!--        </mat-form-field>-->
      <!--      </p>-->
    </div>
    <button mat-raised-button (click)="createAndUpdateOuvrage()">{{textButton}}</button>
    <!--    <button routerLink="/listOuvrage" mat-raised-button (click)="createAndUpdateOuvrage()">{{textButton}}</button>-->
  </div>

</ng-container>
