<div class="form-group">
  <div class="form-group-header">
    <h1 class="form-group-title">{{textButton}}</h1>
  </div>
  <form class="form" [formGroup]="userForm">
    <mat-form-field class="input-group">
      <mat-label class="mat-label">Avatar</mat-label>
      <mat-select formControlName="avatarUrl">
        <mat-option style="flex-direction: column" *ngFor="let avatar of getAvatars()" value='{{avatar}}'
                    class="avatar-item">

          <div style="text-align: center; width: 49px">
            <img src="./assets/avatar/{{avatar}}" alt="Avatar">

          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-group">
      <mat-label class="mat-label"> Titre</mat-label>
      <input matInput placeholder="Entrer le nom" formControlName="title">
    </mat-form-field>
    <mat-form-field class="input-group">
      <mat-label class="mat-label"> Nom</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field class="input-group">
      <mat-label class="mat-label"> Prénom</mat-label>
      <input matInput placeholder="Entrer le prénom" formControlName="lastName">
    </mat-form-field>
    <mat-form-field class="input-group">
      <mat-label class="mat-label">Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="User">User</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-group">
      <mat-label class="mat-label">Entreprise</mat-label>
      <mat-select formControlName="EntrepriseId">
        <mat-option [value]=+entreprise.id
                    *ngFor="let entreprise of listEntreprise">{{entreprise.commercialName}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-group">
      <mat-label class="mat-label">Email</mat-label>
      <input matInput placeholder="1234 Main St" formControlName="email">
    </mat-form-field>
    <mat-form-field class="input-group">
      <mat-label class="mat-label">Password</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>


  </form>
  <button class="button" color="primary" mat-flat-button (click)="createAndUpdate()"
          type="submit">{{textButton}}</button>
</div>
