<div class="big-container">


  <div class="container-header">
    <h3 class="title"> Liste des devis</h3>
    <!--    <button mat-flat-button class="btn">-->
    <!--      <mat-icon [routerLink]="'/'">arrow_back</mat-icon>-->
    <!--    </button>-->
    <div class="header">
      <mat-form-field>
        <mat-label>Recherche d'un devis</mat-label>
        <div>

        </div>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. cim..." #input>
      </mat-form-field>
      <div>
        <button (click)="openDialogCreate()" mat-raised-button color="primary">Creer un devis</button>
        <!--      <button routerLink="/cout" mat-raised-button color="primary">Ajouter un composant</button>-->
      </div>
    </div>
  </div>

  <div class="container">

    <table mat-table
           [dataSource]="dataSource">
      <!-- table content -->

      <!-- Name Column -->
      <ng-container matColumnDef="nDevis">
        <th mat-header-cell *matHeaderCellDef>N° du devis</th>
        <td routerLink="/devisDetail/{{devis.id}}" mat-cell *matCellDef="let devis">{{devis.id}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="nomDevis">
        <th mat-header-cell *matHeaderCellDef>Nom du devis</th>
        <td routerLink="/devisDetail/{{devis.id}}" mat-cell *matCellDef="let devis">{{devis.name}}</td>
      </ng-container>

      <ng-container matColumnDef="dateDevis">
        <th mat-header-cell *matHeaderCellDef> Date du devis</th>
        <td routerLink="/devisDetail/{{devis.id}}" mat-cell
            *matCellDef="let devis">{{devis.createdAt | date:'dd/MM/YYYY'}}</td>
      </ng-container>

      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef> Client</th>
        <td routerLink="/devisDetail/{{devis.id}}" mat-cell *matCellDef="let devis">{{devis.Client.denomination}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td routerLink="/devisDetail/{{devis.id}}" mat-cell *matCellDef="let devis">{{devis.status}}</td>
      </ng-container>
      <ng-container matColumnDef="referent">
        <th mat-header-cell *matHeaderCellDef>Referent</th>
        <td routerLink="/devisDetail/{{devis.id}}" mat-cell *matCellDef="let devis">{{devis.Users[0].firstName}}
          {{devis.Users[0].lastName}}</td>
      </ng-container>
      <ng-container matColumnDef="prixVenteHT">
        <th mat-header-cell *matHeaderCellDef>Montant HT</th>
        <td routerLink="/devisDetail/{{devis.id}}" mat-cell *matCellDef="let devis">{{devis.prixVenteHT | number: '1.2-2'}} €</td>
      </ng-container>


      <ng-container matColumnDef="boutons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let cout">

          <mat-icon [matMenuTriggerFor]="boutonCout">more_vert</mat-icon>
          <mat-menu class="menuBoutonCout" #boutonCout>
            <button (click)="deleteItem(cout.id)" mat-button color="warn">
              <mat-icon>clear</mat-icon>
              Supprimer
            </button>
          </mat-menu>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          (click)="clickedRows.add(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;">
      </tr>

    </table>

  </div>
</div>
