<div class="testcontainer">


<div class="container">
  <div class="header">
    <button mat-flat-button class="btn" [routerLink]="'/listOuvrage'">
      <mat-icon >keyboard_arrow_left</mat-icon>
    </button>
    <h1 style="font-weight: 500">Ouvrage : {{ouvrage.designation}}</h1>
  </div>

  <mat-card class="example-card" [formGroup]="formOuvrage">
    <mat-card-title-group class="group">
      <mat-card-title>Information de l'ouvrage</mat-card-title>
      <div *ngIf="ouvrage" class="detailList">
        <!--        <div class="detail">-->
        <!--          <mat-card-subtitle class="subTitle">Désignation</mat-card-subtitle>-->
        <!--          <p>{{ouvrage.designation}}</p>-->
        <!--        </div>-->
        <mat-form-field appearance="legacy" style="width: 400px">
          <mat-label style="font-size: 1.1rem">Désignation</mat-label>
          <input formControlName="designation" matInput >
        </mat-form-field>
        <!--        <div class="detail">-->
        <!--          <mat-card-subtitle class="subTitle">Bénéfices</mat-card-subtitle>-->
        <!--          <p>{{ouvrage.benefice}}</p>-->
        <!--        </div>-->
        <mat-form-field appearance="legacy" style="width: 60px">
          <mat-label style="font-size: 1.1rem">Bénéfice</mat-label>
          <input type="number" (blur)="updateOuvrageOnChange()" formControlName="benefice" matInput>
        </mat-form-field>

        <!--        <div class="detail">-->
        <!--          <mat-card-subtitle class="subTitle">Aléas</mat-card-subtitle>-->
        <!--          <p>{{ouvrage.aleas}}</p>-->
        <!--        </div>-->

        <mat-form-field appearance="legacy" style="width: 60px">
          <mat-label style="font-size: 1.1rem">Aléas</mat-label>
          <input type="number" (blur)="updateOuvrageOnChange()" formControlName="aleas" matInput>
        </mat-form-field>
        <!--        <div class="detail">-->
        <!--          <mat-card-subtitle class="subTitle">Unité</mat-card-subtitle>-->
        <!--          <p>{{ouvrage.unite}}</p>-->
        <!--        </div>-->

        <mat-form-field appearance="legacy" style="width: 60px">
          <mat-label style="font-size: 1.1rem">Unité</mat-label>
          <input (blur)="updateOuvrageOnChange()" formControlName="unite" matInput>
        </mat-form-field>
        <!--        <div class="detail">-->
        <!--          <mat-card-subtitle class="subTitle">Ratio</mat-card-subtitle>-->
        <!--          <p>{{ouvrage.ratio}}</p>-->
        <!--        </div>-->

        <mat-form-field appearance="legacy" style="width: 60px">
          <mat-label style="font-size: 1.1rem">Rendement</mat-label>
          <input type="number" (blur)="updateOuvrageOnChange()" formControlName="ratio" matInput>
        </mat-form-field>
        <!--        <div class="detail">-->
        <!--          <mat-card-subtitle class="subTitle">U/Ratio</mat-card-subtitle>-->
        <!--          <p>{{ouvrage.uRatio}}</p>-->
        <!--        </div>-->

        <mat-form-field appearance="legacy" style="width: 80px">
          <mat-label style="font-size: 1.1rem">U/Ratio</mat-label>
          <input (blur)="updateOuvrageOnChange()" formControlName="uRatio" matInput>
        </mat-form-field>
        <!--        <div class="detail">-->
        <!--          <mat-card-subtitle class="subTitle">Prix Unitaire HT</mat-card-subtitle>-->
        <!--          <p>{{prixOuvrage}}</p>-->
        <!--        </div>-->

        <mat-form-field appearance="legacy" style="width: 120px">
          <mat-label style="font-size: 1.1rem">Prix</mat-label>
          <input (blur)="updateOuvrageOnChange()" formControlName="prix" matInput [disabled]="true">
        </mat-form-field>
      </div>
    </mat-card-title-group>
  </mat-card>
  <div class="header-table-button">
    <h4>Composant de l'ouvrage</h4>
    <div class="div-button">

    <button mat-raised-button color="primary" (click)="openDialogImport();">
      Importer un composant
    </button>
    <button mat-stroked-button color="primary" (click)="openDialogCreateCout();">
      Créer un composant
    </button>
    </div>

  </div>

  <ng-container *ngIf="ouvrage.Couts && ouvrage.Couts.length ; then someContent else otherContent"></ng-container>
  <!--    <ng-container *ngIf="cout && cout.length ; then someContent else otherContent"></ng-container>-->

  <!--              <button routerLink="/ajoutCout/{{ouvrage.id}}" mat-raised-button>Importer un composant</button>-->

  <ng-template #someContent>
    <table mat-table [dataSource]="ouvrage.Couts" *ngIf="ouvrage.Couts">
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type</th>
        <td mat-cell *matCellDef="let cout"> {{cout.TypeCout.type}} </td>
      </ng-container>
      <ng-container matColumnDef="categorie">
        <th mat-header-cell *matHeaderCellDef> Categorie</th>
        <td mat-cell *matCellDef="let cout"> {{cout.TypeCout.categorie}} </td>
      </ng-container>
      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef> Désignation</th>
        <td mat-cell *matCellDef="let cout"> {{cout.designation}} </td>
      </ng-container>
      <ng-container matColumnDef="unite">
        <th mat-header-cell *matHeaderCellDef> Unité</th>
        <td mat-cell *matCellDef="let cout"> {{cout.unite}} </td>
      </ng-container>
      <ng-container matColumnDef="ratio">
        <th mat-header-cell *matHeaderCellDef> Ratio</th>
        <td mat-cell *matCellDef="let cout">
          <!--          {{cout.OuvrageCout.ratio}}-->
          <mat-form-field appearance="legacy" [formGroup]="myFormGroup" style="width: 60px">
            <input [placeholder]="cout.OuvrageCout.ratio" formControlName="ratioCout" matInput required
                   (keyup.enter)="ratioChange(cout)">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="uRatio">
        <th mat-header-cell *matHeaderCellDef> U/Ratio</th>
        <td mat-cell *matCellDef="let cout"> {{cout.OuvrageCout.uRatio}}

        </td>
      </ng-container>

      <!--      {{uRatio(ouvrage, cout)}}-->

      <ng-container matColumnDef="prixUnitaire">
        <th mat-header-cell *matHeaderCellDef> PU HT</th>
        <td mat-cell *matCellDef="let cout"> {{cout.prixUnitaire}}


        </td>

      </ng-container>
      <ng-container matColumnDef="fournisseur">
        <th mat-header-cell *matHeaderCellDef> Fournisseur</th>
        <td mat-cell *matCellDef="let cout"> {{cout.Fournisseur.commercialName}}</td>
      </ng-container>
      <ng-container matColumnDef="boutons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let cout">

          <mat-icon [matMenuTriggerFor]="boutonCout">more_vert</mat-icon>
          <mat-menu class="menuBoutonCout" #boutonCout>
            <!--          <button [routerLink]="['/cout', cout.id]" mat-button color="primary" >-->
            <button (click)="openDialogCreate(cout)" mat-button color="primary">
              <mat-icon>create</mat-icon>
              Modifier
            </button>
            <br>
            <button (click)="deleteItem(cout.id)" mat-button color="warn">
              <mat-icon>clear</mat-icon>
              Supprimer
            </button>
          </mat-menu>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columnsToDisplayCout" style="background-color: #FFFFFF"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplayCout"></tr>
    </table>


    <!--    <div>-->
    <!--      <mat-card class="example-card">-->
    <!--        <mat-card-title-group class="group">-->
    <!--          <div class="bouton">-->
    <!--            <mat-card-title>Composant de l'ouvrage</mat-card-title>-->
    <!--            <button routerLink="/ajoutCout/{{ouvrage.id}}" mat-raised-button>Importer un composant</button>-->
    <!--          </div>-->
    <!--          <div class="detailList" *ngFor="let cout of ouvrage.Couts">-->
    <!--            <div class="detail">-->
    <!--              <mat-card-subtitle class="subTitle">Désignation</mat-card-subtitle>-->
    <!--              &lt;!&ndash;              <p *ngFor="let cout of ouvrage.cout">{{cout.type}}</p>&ndash;&gt;-->
    <!--              <p>{{cout.designation}}</p>-->
    <!--            </div>-->
    <!--            <div class="detail">-->
    <!--              <mat-card-subtitle class="subTitle">Catégorie</mat-card-subtitle>-->
    <!--              &lt;!&ndash;              <p *ngFor="let cout of ouvrage.cout">{{cout.type}}</p>&ndash;&gt;-->
    <!--              <p>{{cout?.TypeCout?.categorie}}</p>-->
    <!--            </div>-->
    <!--            <div class="detail">-->
    <!--              <mat-card-subtitle class="subTitle">Type</mat-card-subtitle>-->
    <!--              &lt;!&ndash;              <p *ngFor="let cout of ouvrage.cout">{{cout.type}}</p>&ndash;&gt;-->
    <!--              <p>{{cout?.TypeCout?.type}}</p>-->
    <!--            </div>-->
    <!--            <div class="detail">-->
    <!--              <mat-card-subtitle class="subTitle">Unité</mat-card-subtitle>-->
    <!--              <p>{{cout.unite}}</p>-->
    <!--            </div>-->
    <!--            <div class="detail">-->
    <!--              <mat-card-subtitle class="subTitle">Prix Unitaire</mat-card-subtitle>-->
    <!--              <p>{{cout.prixUnitaire}}</p>-->
    <!--            </div>-->
    <!--            <div class="detail">-->
    <!--              <mat-card-subtitle class="subTitle">Ratio</mat-card-subtitle>-->
    <!--              <mat-form-field appearance="legacy" [formGroup]="myFormGroup" style="width: 60px">-->
    <!--                <input type="number" formControlName="ratioCout" matInput required-->
    <!--                       (ngModelChange)="ratioChange(cout, ouvrage)">-->
    <!--              </mat-form-field>-->
    <!--            </div>-->
    <!--            <div class="detail">-->
    <!--              <mat-card-subtitle class="subTitle">U/Ratio</mat-card-subtitle>-->
    <!--              <p>{{uRatio(ouvrage, cout)}}</p>-->
    <!--            </div>-->


    <!--            &lt;!&ndash;            <div class="detail" >&ndash;&gt;-->
    <!--            &lt;!&ndash;              <mat-card-subtitle class="subTitle">Fournisseur</mat-card-subtitle>&ndash;&gt;-->
    <!--            &lt;!&ndash;              <p>{{cout?.Fournisseurs[0] ? cout.Fournisseurs[0].commercialName : "Aucun fournisseur"}}</p>&ndash;&gt;-->
    <!--            &lt;!&ndash;              <p>{{cout.fournisseur}}</p>&ndash;&gt;-->
    <!--            &lt;!&ndash;            </div>&ndash;&gt;-->

    <!--            <div class="detail" [formGroup]="myFormGroup">-->
    <!--              <mat-card-subtitle class="subTitle">Supprimer</mat-card-subtitle>-->
    <!--              <p>-->
    <!--                <button (click)="deleteById(cout.id);deleteCout.emit(getById())" mat-raised-button color="primary">-->
    <!--                  <mat-icon>restore_from_trash</mat-icon>-->
    <!--                </button>-->
    <!--              </p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </mat-card-title-group>-->
    <!--      </mat-card>-->


    <!--    </div>-->
  </ng-template>


  <ng-template #otherContent>
    <mat-card class="card-no-cout">
      <mat-card-title-group class="group">
        <mat-card-title>Aucun composant dans cet ouvrage</mat-card-title>
      </mat-card-title-group>
    </mat-card>

  </ng-template>

</div>
</div>
