<button class="btnBack" routerLink="/listOuvrage" mat-raised-button >Retour</button>
<div class="container">
  <mat-card class="example-card">
    <mat-card-title-group class="group">
      <mat-card-title >Information de l'ouvrage</mat-card-title>
      <div *ngIf="ouvrage" class="detailList">
        <div class="detail">
          <mat-card-subtitle class="subTitle">Désignation</mat-card-subtitle>
          <p>{{ouvrage.designation}}</p>
        </div>
        <div class="detail">
          <mat-card-subtitle class="subTitle">Bénéfices</mat-card-subtitle>
          <p>{{ouvrage.benefice}}</p>
        </div>
        <div class="detail">
          <mat-card-subtitle class="subTitle">Aléas</mat-card-subtitle>
          <p>{{ouvrage.aleas}}</p>
        </div>
        <div class="detail">
          <mat-card-subtitle class="subTitle">Unité</mat-card-subtitle>
          <p>{{ouvrage.unite}}</p>
        </div>
        <div class="detail">
          <mat-card-subtitle class="subTitle">Ratio</mat-card-subtitle>
          <p>{{ouvrage.ratio}}</p>
        </div>
        <div class="detail">
          <mat-card-subtitle class="subTitle">U/Ratio</mat-card-subtitle>
          <p>{{ouvrage.uRatio}}</p>
        </div>
        <div class="detail">
          <mat-card-subtitle class="subTitle">Prix Unitaire HT</mat-card-subtitle>
          <p>{{prixOuvrage}}</p>
        </div>
      </div>
    </mat-card-title-group>
  </mat-card>
    <ng-container *ngIf="ouvrage.Couts && ouvrage.Couts.length ; then someContent else otherContent"></ng-container>
<!--    <ng-container *ngIf="cout && cout.length ; then someContent else otherContent"></ng-container>-->

  <ng-template #someContent >
    <div >
      <mat-card class="example-card" >
        <mat-card-title-group class="group">
          <div class="bouton">
            <mat-card-title >Composant de l'ouvrage</mat-card-title>
            <button routerLink="/ajoutCout/{{ouvrage.id}}"  mat-raised-button>Importer un composant </button>
          </div>
          <div class="detailList">
            <div class="detail">
              <mat-card-subtitle class="subTitle">Désignation</mat-card-subtitle>
<!--              <p *ngFor="let cout of ouvrage.cout">{{cout.type}}</p>-->
              <p *ngFor="let cout of ouvrage.Couts">{{cout.designation}}</p>
            </div>
            <div class="detail">
              <mat-card-subtitle class="subTitle">Catégorie</mat-card-subtitle>
<!--              <p *ngFor="let cout of ouvrage.cout">{{cout.type}}</p>-->
              <p *ngFor="let cout of ouvrage.Couts">{{cout?.TypeCout?.categorie}}</p>
            </div>
            <div class="detail">
              <mat-card-subtitle class="subTitle">Type</mat-card-subtitle>
<!--              <p *ngFor="let cout of ouvrage.cout">{{cout.type}}</p>-->
              <p *ngFor="let cout of ouvrage.Couts">{{cout?.TypeCout?.type}}</p>
            </div>
            <div class="detail">
              <mat-card-subtitle class="subTitle">Unité</mat-card-subtitle>
              <p *ngFor="let cout of ouvrage.Couts">{{cout.unite}}</p>
            </div>
            <div class="detail">
              <mat-card-subtitle class="subTitle">Prix Unitaire</mat-card-subtitle>
              <p *ngFor="let cout of ouvrage.Couts">{{cout.prixUnitaire}}</p>
            </div>
<!--            <div class="detail" >-->
<!--              <mat-card-subtitle class="subTitle">Fournisseur</mat-card-subtitle>-->
<!--              <p>{{cout?.Fournisseurs[0] ? cout.Fournisseurs[0].commercialName : "Aucun fournisseur"}}</p>-->
<!--              <p>{{cout.fournisseur}}</p>-->
<!--            </div>-->
            <div class="detail">
              <mat-card-subtitle class="subTitle">Supprimer</mat-card-subtitle>
              <p *ngFor="let cout of ouvrage.Couts">
                <button (click)="deleteById(cout.id);deleteCout.emit(getById())"  mat-raised-button color="primary"><mat-icon>restore_from_trash</mat-icon>
                </button>

              </p>
            </div>
          </div>
        </mat-card-title-group>
      </mat-card>


    </div>
  </ng-template>




    <ng-template #otherContent >
  <div *ngIf="ouvrage">
    <mat-card class="example-card">
      <mat-card-title-group class="group">
        <div class="bouton">
          <mat-card-title >Aucun composant dans cet ouvrage</mat-card-title>
          <p></p>
          <button routerLink="/ajoutCout/{{ouvrage.id}}"  mat-raised-button >Importer un composant </button>
        </div>
      </mat-card-title-group>
    </mat-card>

  </div>
    </ng-template>

</div>

