<!--
<app-sidenav (onToggleSidebar)="onToggleSidebar($event)"></app-sidenav>
-->

<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Outils étude de prix</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item" *ngFor="let data of navData" >
          <a href="" class="sidebar-nav-link" [routerLink]="[data.routeLink]" >
            <fa-icon class="sidebar-link-icon" [icon]="data.icon"></fa-icon>
            <span class="sidebar-link-text" >{{data.label}}</span>
          </a>
        </li>
      </ul>
<!--      <a  mat-list-item [routerLink]="'/dashboard'">Dashboard</a>
      <a mat-list-item [routerLink]="'/clients'" >Clients</a>
      <a mat-list-item [routerLink]="'/devis'" >Devis</a>
      <a  mat-list-item [routerLink]="'/bibliotheque'">Bibliotheque</a>
      <a  mat-list-item [routerLink]="'/parametres'">Paramétres</a>-->
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
<div style="height: 88vh">
  <router-outlet>
  </router-outlet>

</div>

  </mat-sidenav-content>
</mat-sidenav-container>

<nav></nav>
