.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

mat-accordion{
  margin-top: 10px;
}
