<mat-tab-group mat-stretch-tabs style="  overflow: hidden;
">
  <mat-tab >
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">settings</mat-icon>
      Création d'une unité
    </ng-template>
    <h3>Création</h3>

    <mat-card-subtitle>Ceci est destiné à ajouter une "unité" spécifique pour la création de vos différents composants ou bien ouvrage.</mat-card-subtitle>
    <form [formGroup]="uniteForForm" class="flex-column-item">
      <mat-form-field appearance="standard">
        <mat-label>Désigantion de l'unité</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="uniteForForm.get('name')?.hasError('required')">
          Le nom est obligatoire
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button style="width: 100%" mat-flat-button color="primary"
                (click)="create()" >
          Valider
        </button>
      </mat-card-actions>

    </form>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">sticky_note_2</mat-icon>
      Liste de vos unités
    </ng-template>
    <div>
    </div>
    <h3>Liste de vos unités </h3>
    <button mat-raised-button color="warn" (click)="delete()" >Supprimer</button>
    <mat-selection-list [(ngModel)]="selectedUnite">
      <mat-list-option *ngFor="let unite of unitelist" [value]="unite.id">
        {{unite.name}}
      </mat-list-option>
    </mat-selection-list>

  </mat-tab>

</mat-tab-group>

