

<ng-container [formGroup]="this.myFormGroup">

  <div class="container">
    <h3>{{titreForm}}</h3>
    <p>{{textForm}}</p>
    <div class="inputs">

              <mat-form-field appearance="legacy">
                <mat-label>Nom commercial</mat-label>
                <input formControlName="commercialName" matInput placeholder="Ex: GEDIMAT">
              </mat-form-field>

              <mat-form-field appearance="legacy">
                <mat-label>Remarque</mat-label>
                <input formControlName="remarque" matInput placeholder="Ex: Augmentation en Janvier">
              </mat-form-field>

    </div>


    <div class="buttons">

      <button mat-stroked-button color="primary" routerLink="/listFournisseur">Retour</button>
      <button mat-raised-button color="primary" (click)="createAndUpdate();closeDialog()">{{textButton}}</button>
    </div>
  </div>

</ng-container>
