


<div class="flex-row">
  <mat-card class="facturation">
    <mat-card-title  class="card-text">Facturation des chantiers</mat-card-title>
    <mat-card-subtitle>MONTANT CA HT</mat-card-subtitle>
    <mat-card-content>
      <p class="card-text" >{{this.prixVenteHTCalculer| number: '1.2-2'}}€</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="facturation">
    <mat-card-title  class="card-text">Facturation des chantiers</mat-card-title>
    <mat-card-subtitle>DEBOURSE SEC TOTAL</mat-card-subtitle>
    <mat-card-content>
      <p  class="card-text">{{this.fraisCalculer| number: '1.2-2'}}€</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="facturation">
    <mat-card-title  class="card-text">Moyenne des B & A</mat-card-title>
    <mat-card-subtitle>TOUT DEVIS CONFONDUS</mat-card-subtitle>
    <mat-card-content>
      <p  class="card-text" >{{this.moyenneDeLaMoyenneBenefAleas| number: '1.2-2'}}%</p>
    </mat-card-content>
  </mat-card>

</div>
<div class="flex-row" >
  <mat-card    style="width: 300px;background: #0c5593;margin-left: 30px">
    <mat-card-content *ngIf="devis">
      <h1  class="card-text" >Vos 5 derniers devis</h1>
      <div class="devis-flex-row facturation " style="border: wheat 1px solid;border-radius: 6px; margin-top: 5px" *ngFor="let userDevis of devis.slice(0,5)" >
        <mat-card-header >
          <mat-card-title >{{userDevis.name | uppercase}}</mat-card-title>
          <mat-card-subtitle class="devis-status">{{userDevis.status}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
          <p class="devis-row">Le: {{userDevis.createdAt | date}}</p>
        <mat-icon [matMenuTriggerFor]="bouton" class="devis-icon" style="color: #D9E2EC">more_vert</mat-icon>

        </mat-card-content> <mat-menu class="devis-menu" #bouton>
        <button mat-button color="accent" [routerLink]="['/devisCreate', userDevis.id]" class="devis-menu-button">
          Modifier ce devis
        </button>
        <br>
        <button mat-button color="primary" [routerLink]="['/devisDetail', userDevis.id]" class="devis-menu-button">
          Voir ce devis
        </button>
        <br>
      </mat-menu>
      </div>
    </mat-card-content>
  </mat-card>




</div>
<div class="chart-container " style="padding: 50px;width: 70%;margin: auto">
  <div *ngIf="this.user.role ==='Admin'">
    <h1>{{this.denomination}}</h1>
    <button (click)="prevEntreprise()"><</button>
    <button (click)="nextEntreprise()">></button>
  </div>
  <canvas  id="MyChart" >{{ chart }}</canvas>
</div>





