<!--<div class="parallax">-->
<!--  <div class="header">-->
<!--    <h2 class="titre" style="">Bienvenue</h2>-->
<!--    <div class="row">{{ formattedTime }}</div>-->
<!--  </div>-->
<!-- -->

<!--  <div class="dates">-->
<!--    <div class="row">{{ weekdays[currentTime.getDay()] }} </div>-->
<!--    <div class="row-date">{{ currentTime.getDate() }}</div>-->
<!--    <div class="row">{{ month[currentTime.getMonth()] }}</div>-->
<!--    <div class="row">{{ currentTime.getFullYear() }}</div>-->

<!--  </div>-->

<!--</div>-->
<div *ngIf="!userService.userValue">
  <app-login></app-login>
</div>





