<ng-container *ngIf="dataLoad; else content">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-template #content>

  <mat-tab-group animationDuration="0ms" class="onglet"  [(selectedIndex)]="selectedIndex" >

    <mat-tab label="Frais de chantier" *ngIf="lotFraisDeChantier !== undefined" id="tab1">

      <div class="container-frais-chantier">
        <div class="container-card-frais-chantier">
          <div class="text-frais-chantier">
            <h4 class="title-frais-chantier test-style-global" >Chiffrage des frais de chantier</h4>
            <p class="text-frais-chantier">Veuillez ajouter les sous-lots et les ouvrages <br> que vous souhaitez
              afficher dans vos frais de chantier.
            </p>
<!--            <button (click)="dynamicDownloadTxt()"> test CSV TXT </button>-->
          </div>


          <mat-card class="card">
            <mat-card-content>
              <div>
                <mat-card-subtitle>Débousé sec HT</mat-card-subtitle>
                <div>
                  <p>{{!this.lotFraisDeChantier.prix ? 0 : this.lotFraisDeChantier.prix| number : '1.2-2'}} €</p>
                </div>
                <mat-card-subtitle>Prix de Vente</mat-card-subtitle>
                <div>
                  <p>{{!this.fraisDeChantier.prixVenteHT ? 0 : this.fraisDeChantier.prixVenteHT | number: '1.2-2'}} €</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>






        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" [hidden]="!showForm">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Designation</mat-label>
            <input matInput formControlName="designation" placeholder="Entrer le nom."/>
          </mat-form-field>
          <button mat-flat-button type="submit">Valider</button>
        </form>
        <!--    <div>-->
        <div class="lot-frais-chantier">
          <span class="designation-lot-frais-chantier">{{ lotFraisDeChantier.id }}</span>
          <span class="designation-lot-frais-chantier">{{ lotFraisDeChantier.designation | titlecase }}</span>
          <span class="designation-lot-frais-chantier">{{ lotFraisDeChantier.prix | number }} €</span>
          <mat-icon [matMenuTriggerFor]="boutonLOT">more_vert</mat-icon>
          <mat-menu class="menuBoutonSl" #boutonLOT>


            <button mat-button color="primary" *ngIf="lotFraisDeChantier"
                    (click)="showForm = !showForm; isLot = true; curentLotId= lotFraisDeChantier.id">
              Créer un sous-lot
            </button>


          </mat-menu>
        </div>

        <div class="container-sous-lot-frais-chantier" *ngFor="let sublot of lotFraisDeChantier.SousLots">


          <div class="sous-lot-frais-chantier">
            <button class="btn">
              <mat-icon>expand_more</mat-icon>
              <span class="designation-sous-lot-frais-chantier">{{ sublot.id | number }}</span>
            </button>
            <span
              class="designation-sous-lot-frais-chantier">{{ sublot.designation | uppercase }}</span>
            <span class="designation-sous-lot-frais-chantier"> {{ sublot.prix | number }} €</span>
            <mat-icon [matMenuTriggerFor]="boutonSL">more_vert</mat-icon>
            <!--            </div>-->
            <!--          </div>-->
            <mat-menu class="menuBoutonSl" #boutonSL>
              <button (click)="openDialogSousLot(sublot);" mat-button
                      color="primary">
                <!--          <button (click)="openDialog();handleSousLotClick(sublot.id)" mat-menu-item class="buttonImport">-->
                Modifier ce sous-lot
              </button>
              <button (click)="openDialogFraisDeChantier(sublot.id);currentSousLotId = sublot.id" mat-button
                      color="primary">
                <!--          <button (click)="openDialog();handleSousLotClick(sublot.id)" mat-menu-item class="buttonImport">-->
                Importer un ouvrage
              </button>

              <button (click)="openDialogCreate(sublot.id);currentSousLotId = sublot.id" mat-button
                      color="primary">
                <!--          <button (click)="openDialog();handleSousLotClick(sublot.id)" mat-menu-item class="buttonImport">-->
                Creer un ouvrage
              </button>
              <button mat-button color="warn" *ngIf="lotFraisDeChantier"
                      (click)="deleteSousLot(sublot.id)">
                <!--                  (click)="handleSousLotClick(sublot.id); currentLot = lot; deleteSousLot(sublot.id)">-->
                Effacer ce sous-lot
              </button>
            </mat-menu>
          </div>
          <div class="container-ouvrage-frais-chantier" *ngFor="let ouvrage of sublot.OuvrageDuDevis"
               [hidden]="hiddenChildren.get(sublot.id)" >
            <div>
              <div class="ouvrage-frais-chantier" *ngIf="ouvrage.SousLotOuvrage">
                <div class="detail-ouvrage-frais-chantier">
                  <span class="designation-ouvrage-frais-chantier-td">Id</span>
                  <span class="designation-ouvrage-frais-chantier">{{ouvrage.id}}</span>
                </div>
                <div class="detail-ouvrage-frais-chantier">
                  <span class="designation-ouvrage-frais-chantier-td">Qte</span>
                  <mat-form-field appearance="legacy" [formGroup]="myFormGroup" id="quantity-ouvrage-frias-de-chantier">
                    <input type="number"  formControlName="quantityOuvrage" matInput required
                           [placeholder]="ouvrage.SousLotOuvrage.quantityOuvrage.toString()"
                           (ngModelChange)="quantityChange($event, ouvrage?.SousLotOuvrage, sublot, lotFraisDeChantier, prixOuvrageFraisDeChantier)">
<!--                    (ngModelChange)="quantityChange($event, ouvrage?.SousLotOuvrage, sublot, lot, prixOuvrage)">-->

                  </mat-form-field>
                </div>


                <div class="detail-ouvrage-frais-chantier"  id="designation-ouvrage-fraisDeChantier">
                  <span class="designation-ouvrage-frais-chantier-td">Désignation</span>
                  <span class="designation-ouvrage-frais-chantier">{{ouvrage.designation}}</span>
                </div>
<!--                <div class="detail-ouvrage-frais-chantier">-->
<!--                  <span class="designation-ouvrage-frais-chantier-td">Bénéfice</span>-->
<!--                  <span class="designation-ouvrage-frais-chantier">{{ouvrage.benefice}}</span>-->
<!--                </div>-->
<!--                <div class="detail-ouvrage-frais-chantier">-->
<!--                  <span class="designation-ouvrage-frais-chantier-td">Aléas</span>-->
<!--                  <span class="designation-ouvrage-frais-chantier">{{ouvrage.aleas}}</span>-->
<!--                </div>-->
                <div class="detail-ouvrage-frais-chantier">
                  <span class="designation-ouvrage-frais-chantier-td">Unité</span>
                  <span class="designation-ouvrage-frais-chantier">{{ouvrage.unite}}</span>
                </div>
                <div class="detail-ouvrage-frais-chantier">
                  <span class="designation-ouvrage-frais-chantier-td">U/Ratio</span>
                  <span class="designation-ouvrage-frais-chantier">{{ouvrage.uRatio}}</span>
                </div>
                <div class="detail-ouvrage-frais-chantier">
                  <span class="designation-ouvrage-frais-chantier-td">Ratio</span>
                  <span class="designation-ouvrage-frais-chantier">{{ouvrage.ratio}}</span>
                </div>
                <div class="detail-ouvrage-frais-chantier">
                  <span class="designation-ouvrage-frais-chantier-td">Total DS HT</span>
                  <span
                    class="designation-ouvrage-frais-chantier">{{ouvrage.SousLotOuvrage.prixOuvrage | number: '1.2-2'}}
                    €</span>
                </div>
                <div class="detail-ouvrage-frais-chantier" *ngIf="ouvrage.CoutDuDevis">
                  <span class="designation-ouvrage-frais-chantier-td">PU DS HT</span>
                  <span *ngIf="ouvrage.CoutDuDevis.length >= 1"
                        class="designation-ouvrage-frais-chantier">{{ouvrage.SousLotOuvrage.prixUniHT | number: '1.2-2'}}
                    €
                    </span>
                  <span *ngIf="ouvrage.CoutDuDevis.length === 0"
                        class="designation-ouvrage-frais-chantier">{{ouvrage.prix | number: '1.2-2'}}
                    €</span>
                </div>
                <div class="detail-ouvrage-frais-chantier">
                  <span class="designation-ouvrage-frais-chantier-td">PU Vente HT </span>
                  <span
                    class="designation-ouvrage-frais-chantier">
                      <mat-form-field [formGroup]="myFormGroup" id="prix-arrondi-frais-chantier">
                                            <input type="number" formControlName="quantityOuvrage" matInput required

                                                   placeholder="{{ouvrage.SousLotOuvrage.prixUniVenteHT.toString() | number: '1.2-2'}}"
                                                   (ngModelChange)="onPrixUnitaireCalculeHtChange($event, ouvrage.SousLotOuvrage)">
                                          </mat-form-field>
                    </span>
                </div>
                <div class="detail-ouvrage-frais-chantier">
                  <span class="designation-ouvrage-frais-chantier-td">Prix Vente HT</span>
                  <span
                    class="designation-ouvrage-frais-chantier">{{ouvrage.SousLotOuvrage.prixVenteHT | number: '1.2-2'}}
                    €</span>
                </div>
                <div>
                  <span class="designation-ouvrage-frais-chantier">
                  <mat-icon [matMenuTriggerFor]="boutonOuv">more_vert</mat-icon>
                <mat-menu class="menuBoutonSl" #boutonOuv>
                  <button mat-button color="primary" routerLink="/sousDetailPrix/{{ouvrage.id}}" (click)="onTabChanged(0)">
                    Voir le detail de l'ouvrage
                  </button>
                  <button mat-button color="warn" (click)="deleteOuvrageDuDevis(ouvrage.id)">
                    Effacer cet ouvrage
                  </button>
                </mat-menu>

                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>



    <mat-tab class="devis" label="Devis" *ngIf="lotFraisDeChantier !== undefined " id="tab2">
      <div class="container-frais-chantier">
        <div class="container-card-frais-chantier">
          <div class="text-frais-chantier">
            <h4 class="title-frais-chantier">Chiffrage du devis</h4>
            <p class="text-frais-chantier">Veuillez ajouter les lots, sous-lots et les ouvrages <br> que vous souhaitez
              afficher dans votre devis.
            </p>
          </div>


          <mat-card class="card">
            <mat-card-content>
              <div>
                <mat-card-subtitle>Débousé sec HT</mat-card-subtitle>
                <div>
                  <p>{{!this.devis.debourseSecTotal ? 0 : this.devis.debourseSecTotal | number : '1.2-2'}} €</p>
                </div>
                <mat-card-subtitle>Prix Equilibre HT</mat-card-subtitle>
                <div>
                  <p>{{!this.devis.prixEquiHT ? 0 : this.devis.prixEquiHT | number: '1.2-2'}} €</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="card">
            <mat-card-content>
              <div>
                <mat-card-subtitle>Bénéfice</mat-card-subtitle>
                <div>
                  <p>{{!this.devis.beneficeInEuro ? 0 : this.devis.beneficeInEuro  | number : '1.2-2'}} € </p>
                </div>
                <mat-card-subtitle>Aléas</mat-card-subtitle>
                <div>
                  <p>{{!this.devis.aleasInEuro ? 0 : this.devis.aleasInEuro | number: '1.2-2'}} €</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>


          <mat-card class="card">
            <mat-card-content>
              <div>
                <mat-card-subtitle>Prix Calculé</mat-card-subtitle>
                <div>
                  <p>{{!this.devis.prixCalcHT ? 0 : this.devis.prixCalcHT  | number : '1.2-2'}} € </p>
                </div>
                <mat-card-subtitle>Prix de Vente</mat-card-subtitle>
                <div>
                  <p>{{!this.devis.prixVenteHT ? 0 : this.devis.prixVenteHT | number: '1.2-2'}} €</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>


          <mat-card class="card">
            <mat-card-content>
              <div>
                <mat-card-subtitle>Bénéfice & Aléas en %</mat-card-subtitle>
                <div>
                  <p>{{!this.devis.beneficeAleasTotalPercent ? 0 : this.devis.beneficeAleasTotalPercent | number: '1.2-2'}} %</p>
                </div>
                <mat-card-subtitle>Bénéfice & Aléas en €</mat-card-subtitle>
                <div>
                  <p>{{!this.devis.beneficeAleasTotal ? 0 : this.devis.beneficeAleasTotal | number: '1.2-2'}} €</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>


        <div class="flex-row">
          <button class="button" mat-raised-button color="primary" (click)="showForm = true; isLot=false">Lot</button>

        <div>
          <button class="button" (click)="this.createHiddenLotForSousLotButton();hidden=true; isLot = true; curentLotId= this.hiddenLotId2" mat-raised-button color="primary" >Sous-lots</button>
        </div>

          <div>
          <button class="button" (click)="openDialogCreate(this.hiddenSousLotId)" mat-raised-button color="primary" >Ouvrage</button>
        </div>
        <div>
          <button class="button" (click)="this.createHiddenLotAndSousLotAndOvrage()" mat-raised-button color="primary" >Cout</button>
        </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" [hidden]="!showForm">
          <!-- Formulaire avec champ de saisie et bouton de validation -->
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Designation</mat-label>
            <input matInput formControlName="designation" placeholder="Entrer le nom."/>
          </mat-form-field>
          <button mat-flat-button type="submit">Valider</button>
        </form>


        <div class="container-lot" *ngFor="let lot of testLots">
          <div class="lot-frais-chantier" *ngIf="!lot.designation.startsWith('Hidden')">
            <button class="btn" *ngIf="lot.SousLots && lot.SousLots.length"
                    (click)="setExpandedLotId(lot.id)">

              <span class="designation-sous-lot-frais-chantier"><mat-icon>expand_more</mat-icon>
                {{ lot.id | number }}</span>
            </button>

            <span class="designation-lot-frais-chantier">{{ lot.designation | titlecase }}</span>
            <span class="designation-lot-frais-chantier">{{ lot.prix | number }} €</span>
            <mat-icon [matMenuTriggerFor]="boutonLOT">more_vert</mat-icon>
            <mat-menu class="menuBoutonSl" #boutonLOT>
              <button mat-button color="primary" *ngIf="lotFraisDeChantier"
                      (click)="openDialogLot(lot)">
                Modifier ce lot
              </button>
              <br>

              <button mat-button color="primary" *ngIf="lotFraisDeChantier"
                      (click)="showForm = !showForm; isLot = true; curentLotId= lot.id">
                Créer un sous-lot
              </button>

              <button mat-menu-item class="buttonSup" *ngIf="lot"
                      (click)="deleteLot(lot.id)">
                Effacer ce lot
              </button>
            </mat-menu>
          </div>
          <div class="container-sous-lot-frais-chantier" *ngFor="let sublot of lot.SousLots">


            <div class="sous-lot-frais-chantier" *ngIf="!sublot.designation.startsWith('Hidden')">
              <button class="btn">
                <mat-icon>expand_more</mat-icon>
                <span class="designation-sous-lot-frais-chantier">id {{ sublot.id | number }}</span>
              </button>
              <span
                class="designation-sous-lot-frais-chantier">{{ sublot.designation | uppercase }}</span>
              <!--              <span class="designation-sous-lot-frais-chantier"> {{ sublot.prix | number }} €</span>-->
              <mat-icon [matMenuTriggerFor]="boutonSL">more_vert</mat-icon>
              <!--            </div>-->
              <!--          </div>-->
              <mat-menu class="menuBoutonSl" #boutonSL>
                <button (click)="openDialogSousLot(sublot);" mat-button
                        color="primary">
                  <!--          <button (click)="openDialog();handleSousLotClick(sublot.id)" mat-menu-item class="buttonImport">-->
                  Modifier ce sous-lot
                </button>
                <button (click)="openDialog(sublot.id);currentSousLotId = sublot.id" mat-button
                        color="primary">
                  <!--          <button (click)="openDialog();handleSousLotClick(sublot.id)" mat-menu-item class="buttonImport">-->
                  Importer un ouvrage
                </button>

                <button (click)="openDialogCreate(sublot.id);currentSousLotId = sublot.id" mat-button
                        color="primary">
                  <!--          <button (click)="openDialog();handleSousLotClick(sublot.id)" mat-menu-item class="buttonImport">-->
                  Creer un ouvrage
                </button>

                <button mat-button color="warn" *ngIf="lotFraisDeChantier"
                        (click)="deleteSousLot(sublot.id)">
                  <!--                  (click)="handleSousLotClick(sublot.id); currentLot = lot; deleteSousLot(sublot.id)">-->
                  Effacer ce sous-lot
                </button>

              </mat-menu>
            </div>

            <div class="container-ouvrage-frais-chantier" *ngFor="let ouvrage of sublot.OuvrageDuDevis"
                 [hidden]="hiddenChildren.get(sublot.id)">
              <div *ngIf="!ouvrage.designation.startsWith('Hidden')">
                <div class="ouvrage-frais-chantier" *ngIf="ouvrage.SousLotOuvrage">
                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">Id</span>
                    <span class="designation-ouvrage-frais-chantier">{{ouvrage.id}}</span>
                  </div>
                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">Qte</span>
                    <mat-form-field appearance="legacy" [formGroup]="myFormGroup" id="quantity-ouvrage-frias">
                      <input type="number"  formControlName="quantityOuvrage" matInput required
                             [placeholder]="ouvrage.SousLotOuvrage.quantityOuvrage.toString()"
                             (ngModelChange)="quantityChange($event, ouvrage?.SousLotOuvrage, sublot, lot, prixOuvrage)">
<!--                             (keyup.enter)="quantityChange($event, ouvrage?.SousLotOuvrage, sublot, lot, prixOuvrage)">-->
                    </mat-form-field>
                  </div>


                  <div class="detail-ouvrage-frais-chantier" id="designation-ouvrage-devis">
                    <span class="designation-ouvrage-frais-chantier-td">Désignation</span>
                    <span class="designation-ouvrage-frais-chantier">{{ouvrage.designation}}</span>
                  </div>
                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">Bénéfice</span>
                    <span class="designation-ouvrage-frais-chantier">{{ouvrage.benefice}}</span>
                  </div>
                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">Aléas</span>
                    <span class="designation-ouvrage-frais-chantier">{{ouvrage.aleas}}</span>
                  </div>
                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">Unité</span>
                    <span class="designation-ouvrage-frais-chantier">{{ouvrage.unite}}</span>
                  </div>
                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">U/Ratio</span>
                    <span class="designation-ouvrage-frais-chantier">{{ouvrage.uRatio}}</span>
                  </div>
                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">Ratio</span>
                    <span class="designation-ouvrage-frais-chantier">{{ouvrage.ratio}}</span>
                  </div>




                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">Total DS HT</span>
                    <span
                      class="designation-ouvrage-frais-chantier">{{ouvrage.SousLotOuvrage.prixOuvrage | number: '1.2-2'}}
                      €</span>

                  </div>
                  <div class="detail-ouvrage-frais-chantier" *ngIf="ouvrage.CoutDuDevis">
                    <span class="designation-ouvrage-frais-chantier-td">PU DS HT </span>

                    <span *ngIf="ouvrage.CoutDuDevis.length >= 1"
                      class="designation-ouvrage-frais-chantier">{{ouvrage.SousLotOuvrage.prixUniHT | number: '1.2-2'}}
                      €
                    </span>
                    <span *ngIf="ouvrage.CoutDuDevis.length === 0"
                      class="designation-ouvrage-frais-chantier">{{ouvrage.prix | number: '1.2-2'}}
                      €</span>


                  </div>
                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">Prix Equilibre HT</span>
                    <span
                      class="designation-ouvrage-frais-chantier">{{ouvrage.SousLotOuvrage.prixEquiHT | number: '1.2-2'}}
                      €</span>
                  </div>
                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">Prix Calculé HT</span>
                    <span
                      class="designation-ouvrage-frais-chantier">{{ouvrage.SousLotOuvrage.prixCalcHT | number: '1.2-2'}}
                      €</span>
                  </div>
                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">PU Vente HT </span>
                    <span
                      class="designation-ouvrage-frais-chantier">
                      <mat-form-field [formGroup]="myFormGroup" id="prix-arrondi-devis">
                                            <input type="number" formControlName="quantityOuvrage" matInput required
                                                   placeholder="{{ouvrage.SousLotOuvrage.prixUniVenteHT.toString() | number: '1.2-2'}}"
                                                   (ngModelChange)="onPrixUnitaireCalculeHtChange($event, ouvrage.SousLotOuvrage)">
                                          </mat-form-field>
                    </span>
                    <!--                    <span-->
                    <!--                      class="designation-ouvrage-frais-chantier">{{ouvrage.SousLotOuvrage.prixUniVenteHT | number: '1.2-2'}}-->
                    <!--                      €</span>-->
                  </div>
                  <div class="detail-ouvrage-frais-chantier">
                    <span class="designation-ouvrage-frais-chantier-td">Prix Vente HT</span>
                    <span
                      class="designation-ouvrage-frais-chantier">{{ouvrage.SousLotOuvrage.prixVenteHT | number: '1.2-2'}}
                      €</span>
                  </div>
                  <div>
                  <span class="designation-ouvrage-frais-chantier">
                  <mat-icon [matMenuTriggerFor]="boutonOuv">more_vert</mat-icon>
                <mat-menu class="menuBoutonSl" #boutonOuv>
                  <button mat-button color="primary" routerLink="/sousDetailPrix/{{ouvrage.id}}" (click)="onTabChanged(1)">
                    Voir le detail de l'ouvrage
                  </button>
                  <button mat-button color="warn" (click)="deleteOuvrageDuDevis(ouvrage.id)">
                    Effacer cet ouvrage
                  </button>
                </mat-menu>

                  </span>
                  </div>
                </div>
              </div>
            </div>





          </div>


        </div>

      </div>
<!--        <div *ngFor="let cout of hiddenCout" class="detail-ouvrage-frais-chantier">-->
<!--          <span class="designation-ouvrage-frais-chantier-td">Désignation</span>-->
<!--          <span class="designation-ouvrage-frais-chantier">{{cout.designation}}</span>-->
<!--        </div>-->
<!--      <table  *ngIf="hiddenCout " mat-table [dataSource]="hiddenCout">-->

<!--        <ng-container matColumnDef="type">-->
<!--          <th mat-header-cell *matHeaderCellDef> Type</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.type}} </td>-->
<!--          <td routerLink="/ouvrageDetail/{{ouvrage.id}}" mat-cell-->
<!--              *matCellDef="let ouvrage"> {{ouvrage.designation}} </td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="categorie">-->
<!--          <th mat-header-cell *matHeaderCellDef> Catégorie</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.categorie}} </td>-->
<!--          &lt;!&ndash;      <td routerLink="/ouvrageDetail/{{ouvrage.id}}" mat-cell *matCellDef="let ouvrage"> {{ouvrage.designation}} </td>&ndash;&gt;-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="designation">-->
<!--          <th mat-header-cell *matHeaderCellDef> Désignation</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.designation}} </td>-->
<!--          &lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.benefice}} </td>&ndash;&gt;-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="unite">-->
<!--          <th mat-header-cell *matHeaderCellDef> U</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.unite}} </td>-->

<!--          &lt;!&ndash;      <td mat-cell routerLink="/ouvrageDetail/{{ouvrage.id}}" *matCellDef="let ouvrage"> {{ouvrage.aleas}} </td>&ndash;&gt;-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="uRatio">-->
<!--          <th mat-header-cell *matHeaderCellDef> U/Ratio</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.OuvrageCoutDuDevis.uRatio}} </td>-->
<!--          <td routerLink="/ouvrageDetail/{{ouvrage.id}}" mat-cell-->
<!--              *matCellDef="let ouvrage"> {{ouvrage.designation}} </td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="ratio">-->
<!--          <th mat-header-cell *matHeaderCellDef> Ratio</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis">-->
<!--            <mat-form-field appearance="legacy"  style="width: 30px">-->
<!--              <input type="number"  formControlName="ratio" matInput required-->
<!--                     [placeholder]="coutDuDevis.OuvrageCoutDuDevis.ratio">-->
<!--            </mat-form-field>-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="efficience">-->
<!--          <th mat-header-cell *matHeaderCellDef> Efficience</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis">-->
<!--            <mat-form-field appearance="legacy"  style="width: 30px">-->
<!--              <input type="number"  formControlName="efficience" matInput-->
<!--                     required-->
<!--                     [placeholder]="coutDuDevis.OuvrageCoutDuDevis.efficience">-->
<!--            </mat-form-field>-->
<!--          </td>-->
<!--        </ng-container>-->



<!--        <ng-container matColumnDef="quantite" >-->
<!--          <th mat-header-cell *matHeaderCellDef> Quantité</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.quantite}} </td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="prixUnitaireHT">-->
<!--          <th mat-header-cell *matHeaderCellDef> PU HT</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.prixUnitaire| number : '1.2-2'}} €</td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="DSTotal" >-->
<!--          <th mat-header-cell *matHeaderCellDef> DS Total</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.debourseSecTotal | number : '1.2-2'}} €</td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="PUHTEquilibre" >-->
<!--          <th mat-header-cell *matHeaderCellDef> PU HT équilibre</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.prixUnitaireEquiHT | number : '1.2-2'}} €</td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="prixHTEquilibre" >-->
<!--          <th mat-header-cell *matHeaderCellDef> Prix HT équilibre</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.prixEquiHT | number : '1.2-2' }} €</td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="PUHTCalcule" >-->
<!--          <th mat-header-cell *matHeaderCellDef>PU HT calculé</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.prixUnitaireCalcHT | number : '1.2-2'}} €</td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="prixHTCalcule" >-->
<!--          <th mat-header-cell *matHeaderCellDef>Prix HT calculé</th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> {{coutDuDevis.prixCalcHT | number : '1.2-2'}} €</td>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="boutons" >-->
<!--          <th mat-header-cell *matHeaderCellDef></th>-->
<!--          <td mat-cell *matCellDef="let coutDuDevis"> <span class="designation-ouvrage-frais-chantier">-->
<!--                  <mat-icon [matMenuTriggerFor]="boutonOuv">more_vert</mat-icon>-->
<!--                <mat-menu class="menuBoutonSl" #boutonOuv>-->
<!--&lt;!&ndash;                  <button mat-button color="primary" (click)="openDialogUpdateCout(coutDuDevis)">&ndash;&gt;-->
<!--&lt;!&ndash;                    Modifier le composant&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button mat-button color="warn" (click)="deleteItem(coutDuDevis.id)">&ndash;&gt;-->
<!--&lt;!&ndash;                    Effacer le composant&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--                </mat-menu>-->

<!--                  </span>-->
<!--          </td>-->
<!--        </ng-container>-->
<!--        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>-->
<!--        &lt;!&ndash;    <tr mat-header-row *matHeaderRowDef="columnsToDisplay" style="font-weight: normal;font-style: oblique" ></tr>&ndash;&gt;-->
<!--        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>-->
<!--      </table>-->


    </mat-tab>


    <mat-tab label="Paramètre de chantier" *ngIf="lotFraisDeChantier !== undefined" id="tab3">
      <div class="bigContainerParams">
        <div class="ContainerParamsFraisDevis">
          <mat-card class="cardParams">
            <mat-card-header>
              <mat-card-title>Frais de chantier</mat-card-title>

            </mat-card-header>
            <hr>
            <mat-card-content>
              <div class="containerParams">
                <div class="paramsSub">
                  <div class="itemsParams">
                    <mat-card-subtitle>Prix de vente</mat-card-subtitle>
                    <p>{{!this.fraisDeChantier.prixVenteHT ? 0 : this.fraisDeChantier.prixVenteHT | number : '1.2-2'}} €</p>
                  </div>
                  <div class="itemsParams">
                    <mat-card-subtitle>Total DBS</mat-card-subtitle>
                    <p>{{!this.lotFraisDeChantier.prix ? 0 : this.lotFraisDeChantier.prix | number : '1.2-2'}} €</p>
                  </div>
                </div>
<!--                <div class="paramsSub">-->
<!--                  <div class="itemsParams">-->
<!--                    <mat-card-subtitle>Total</mat-card-subtitle>-->
<!--                    <p>{{!this.lotFraisDeChantier.prix ? 0 : this.lotFraisDeChantier.prix | number : '1.2-2'}} €</p>-->
<!--                  </div>-->
<!--                  <div class="itemsParams">-->
<!--                    <mat-card-subtitle>Bénéfice & Aléas</mat-card-subtitle>-->
<!--                    <p *ngIf="!this.resultAleasFraisDeChantier || !this.resultBeneficeFraisDeChantier; else other ">0 %</p>-->
<!--                    <ng-template #other>{{this.resultAleasFraisDeChantier + this.resultBeneficeFraisDeChantier  | number : '1.2-2'}} %</ng-template>-->
<!--                  </div>-->
<!--                </div>-->

              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="cardParams">
            <mat-card-header>
              <mat-card-title>Devis</mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
              <div class="containerParams">
                <div class="paramsSub">
                  <div class="itemsParams">
                    <mat-card-subtitle>Bénéfice</mat-card-subtitle>
                    <p>{{!this.resultBeneficeLots ? 0 : this.resultBeneficeLots | number : '1.2-2'}} %</p>
                  </div>
                  <div class="itemsParams">
                    <mat-card-subtitle>Aléas</mat-card-subtitle>
                    <p>{{!this.resultAleasLots ? 0 : this.resultAleasLots | number : '1.2-2'}} %</p>
                  </div>
                </div>
                <div class="paramsSub">
                  <div class="itemsParams">
                    <mat-card-subtitle>Total</mat-card-subtitle>
                    <p>{{!this.devis.debourseSecTotal ? 0 : this.devis.debourseSecTotal | number : '1.2-2'}} €</p>
                  </div>
                  <div class="itemsParams">
                    <mat-card-subtitle>Bénéfice & Aléas</mat-card-subtitle>
                    <p>{{this.resultBeneficeLots + this.resultAleasLots | number : '1.2-2'}} %</p>


                  </div>
                </div>

              </div>

            </mat-card-content>
          </mat-card>
        </div>
        <div class="ContainerParamsFraisDevis">
          <mat-card class="cardParams">
            <mat-card-header>
              <mat-card-title>Total</mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
              <div class="containerParams">
                <div class="paramsSub">
                  <div class="itemsParams">
                    <mat-card-subtitle>Total Dépense</mat-card-subtitle>
                    <p>{{!this.devis.totalDepense ? 0 : this.devis.totalDepense | number : '1.2-2'}} €</p>
                  </div>
                  <div class="itemsParams">
                    <mat-card-subtitle>Cout Total</mat-card-subtitle>
                    <p>{{!this.devis.coutTotal ? 0 : this.devis.coutTotal | number : '1.2-2'}} €</p>
                  </div>
                </div>
                <div class="paramsSub">
                  <div class="itemsParams">
                    <mat-card-subtitle>Bénefice</mat-card-subtitle>
                    <p>{{!this.devis.moyenneBenefice ? 0 : this.devis.moyenneBenefice | number : '1.2-2'}} %</p>
                  </div>
                  <div class="itemsParams">
                    <mat-card-subtitle>Aléas</mat-card-subtitle>
                    <p>{{!this.devis.moyenneAleas ? 0 : this.devis.moyenneAleas | number : '1.2-2' }} %</p>
                  </div>
                  <div class="itemsParams">
                    <mat-card-subtitle>Bénéfice & Aléas</mat-card-subtitle>
                    <p>{{!this.devis.moyenneBeneficeAleas ? 0 : this.devis.moyenneBeneficeAleas  | number : '1.2-2'}} %</p>
                  </div>

                </div>

                <div class="paramsSub">
                  <div class="itemsParams">

                    <mat-card-subtitle>Frais généraux (<mat-form-field style="width: 135px;text-align: center"  appearance="legacy" id="input-fraisGeneraux">
                      <input (blur)="this.updateFraisGeneraux($event)" formControlName="percentFraisGeneraux"   type="number" matInput [placeholder]="this.myFormFraisGeneraux.get('percentFraisGeneraux')?.value" >
                    </mat-form-field >) %</mat-card-subtitle>
                    <p>{{!this.devis.fraisGeneraux ? 0 : this.devis.fraisGeneraux | number : '1.2-2'}} €</p>
                  </div>
                  <div class="itemsParams">
                    <mat-card-subtitle>Coéfficient d'équilibre</mat-card-subtitle>
                    <p>{{!this.devis.coeffEquilibre ? 0 : this.devis.coeffEquilibre  | number : '1.2-2'}}</p>
                  </div>

                </div>

              </div>

            </mat-card-content>
          </mat-card>
        </div>

      </div>

      <div *ngIf="lotFraisDeChantier !== undefined">
        <!--      <p>Benefice theorique moyenne des benefices des ouvrages des lot du devis valeur en %, valeur en E </p>-->
        <!--      <h2>{{this.resultBeneficeLots}}</h2>-->
        <!--      <p>Aleas theorique moyenne des aleas des ouvrages des lot des devis, valeur en %, valeur en E </p>-->
        <!--      <h2>{{this.resultAleasLots}}</h2>-->
        <!--      <p>Benefice theorique moyenne des benefices des ouvrages du Frais de chantier valeur en %, valeur en E </p>-->
        <!--      <h2>{{this.resultBeneficeFraisDeChantier}}</h2>-->
        <!--      <p>Aleas theorique moyenne des aleas des ouvrages du Frais de chantier, valeur en %, valeur en E </p>-->
        <!--      <h2>{{this.resultAleasFraisDeChantier}}</h2>-->
        <!--      <p>Frais de chantier total de l'onglet frais de chantier = </p>-->
        <!--      <h2>{{lotFraisDeChantier.prix}}</h2>-->
        <!--      <p>Frais generaux 20% total deboursés sec + frais de chantier</p>-->
        <!--      <h2>{{fraisGeneraux()}}</h2>-->
        <!--      <p> total deboursés sec (total devis) </p>-->
        <!--      <h2>{{prixDevis}}</h2>-->
        <!--      <p>total depense total debousés sec + frais de chantier</p>-->
        <!--      <h2> {{totalDepense()}}</h2>-->
        <!--      <p>cout total total debourses sec + frais de chantier + frais generaux</p>-->
        <!--      <h2>{{coutTotal()}}</h2>-->
        <!--      <p> coefficient d'equilibre cout total / total deboursé sec /</p>-->
        <!--      <h2>{{coefEquilibre()}}</h2>-->
      </div>
    </mat-tab>


    <mat-tab disabled label="Export" *ngIf="lotFraisDeChantier !== undefined && devis !== undefined">
      <ng-template mat-tab-label>
        <button  mat-raised-button color="primary" (click)="dynamicDownloadTxt()" >
          Exporter l'étude de prix au format CSV
        </button>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</ng-template>
