<ng-container [formGroup]="this.myFormGroup">

  <div class="container">
    <h3>Ajout d'un ouvrage dans la bibliothèque de prix</h3>
    <p>L'ajout d'un ouvrage au sein de la bibliothèque de prix permet de l'utiliser ultérieurement lors de la création de devis</p>
    <div class="inputs">

      <mat-form-field appearance="legacy">
        <mat-label>Désignation</mat-label>
        <input formControlName="designation" matInput placeholder="Ex: Agglo de 10cm" style="width: 200px">
      </mat-form-field>
      <mat-form-field appearance="legacy" id="input-unite" style="width: 80px">
        <mat-label >Bénéfice</mat-label >
        <input  formControlName="benefice" matInput placeholder="Ex: M2" >
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width: 100px">
        <mat-label>Aléas</mat-label>
        <input formControlName="aleas" matInput placeholder="Ex: 9,2">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width: 100px">
        <mat-label>Unité</mat-label>
        <input formControlName="unite" matInput placeholder="Ex: 9,2">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width: 100px">
        <mat-label>Ratio</mat-label>
        <input formControlName="ratio" matInput placeholder="Ex: 9,2">
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width: 100px">
        <mat-label>U/Ratio</mat-label>
        <input formControlName="uRatio" matInput placeholder="Ex: 9,2">
      </mat-form-field>

    </div>


    <div class="buttons">

      <button mat-stroked-button color="primary" routerLink="/listCout">Retour</button>
      <button mat-raised-button color="primary" (click)="createOuvrage();closeDialog()">Ajouter cet ouvrage</button>
    </div>
  </div>

</ng-container>

