<ng-container [formGroup]="this.myFormGroup">
  <button routerLink="/listOuvrage" mat-raised-button color="accent">Retour</button>
  <div class="container">
    <h1> {{titreForm}}</h1>
    <div class="group1">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Désignation</mat-label>
          <input formControlName="designation" matInput placeholder="Ex: Béton de propreté">

        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Bénéfice</mat-label>
          <input formControlName="benefice" matInput placeholder="Ex: 10" value="10">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Aléas</mat-label>
          <input formControlName="aleas" matInput placeholder="Ex: 10" value="5">
        </mat-form-field>
      </p>
    </div>
    <div class="group2">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Unité</mat-label>
          <input formControlName="unite" matInput placeholder="Ex: 10">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Ratio</mat-label>
          <input formControlName="ratio" matInput placeholder="Ex: 0.9">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>U/Ratio</mat-label>
          <input formControlName="uRatio" matInput placeholder="Ex: ">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Fournisseur</mat-label>
          <input formControlName="fournisseur" matInput placeholder="Ex: Gedimat">
        </mat-form-field>
      </p>
      <!--      <p>-->
      <!--        <mat-form-field appearance="legacy">-->
      <!--          <mat-label>Ratio</mat-label>-->
      <!--          <input formControlName="prixUnitaire" matInput placeholder="Ex: 0.80">-->
      <!--        </mat-form-field>-->
      <!--      </p>-->
    </div>


    <button routerLink="/listOuvrage" mat-raised-button (click)="createAndUpdate()">{{textButton}}</button>
  </div>
</ng-container>

