<div *ngIf="entreprise">
  <h1 class="header">{{entreprise.commercialName}}</h1>
</div>
<div class="container" *ngIf="entreprise ">

  <div class="card-devis">
    <mat-list>
      <div class="titre" mat-subheader>Liste des devis</div>
      <mat-list-item *ngFor="let devis of devisAll">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{devis.name}} </div>
        <div></div>
        <span matListItemLine>{{devis.createdAt | date}}</span>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="card-client">
    <mat-list>
      <div class="titre" mat-subheader>Liste des clients</div>
      <mat-list-item *ngFor="let cl of client| unique:'Client.id'">

        <div>{{cl.Client.id}}</div>
        <div matLine>
          <mat-icon>person</mat-icon>
          {{cl.Client.firstName}}</div>
        <div matLine>{{cl.Client.createdAt | date}}</div>
      </mat-list-item>
    </mat-list>
  </div>


  <div>
    <mat-list class="card-user">
      <div class="titre" mat-subheader>Liste des utilisateurs</div>
      <mat-list-item *ngFor="let user of userAll">
        <div class="flex-row" [routerLink]="['/users', user.id]">
          <p>
            <mat-icon matListItemIcon>folder</mat-icon>
          </p>
          <p matListItemTitle>{{user.title}} </p>
          <p matListItemTitle>{{user.firstName}} </p>
          <p matListItemTitle>{{user.lastName}} </p>
          <p matListItemLine>{{user.role }}</p>
        </div>

      </mat-list-item>
    </mat-list>
  </div>

</div>



